$page-width: 1536px;

html {
  --light: #fff;
  --dark: #131313;
  --gray: #f5f5f5;
  --bubble: #161718;
  --accent: var(--gray);
  --bg: var(--light);
  --text: var(--dark);
  --theme: #ef1a1a;
}

.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-float-org {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: none;
  transform: none;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}
