.button {
  border-radius: 0.3rem;
  border-width: 0px;
  min-width: 6rem;
  background-color: var(--theme);
  padding: 1rem 2rem;
  color: white;
  transition: all 0.15s;
  .button_label {
    padding: 0.75rem 1.5rem;
  }
}

.button:hover {
  background-color: rgb(0, 0, 0);
}
