.event_header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 100%;
  height: 75vh;
  background-color: black;
  margin-top: -10rem;
  z-index: -1;
}

.event_blur {
  filter: blur(0.2rem);
  -webkit-filter: blur(0.2rem);
}

.event_container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &_poster {
    background-repeat: no-repeat;
    width: 50%;
    height: 20rem;
  }

  &_content {
    width: 45%;
    height: 20rem;
  }
}

.event_header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: rgba(10, 15, 30, 0.72);
}

.event {
  padding: 3rem 3rem;
  max-width: 55rem;
  min-height: 30rem;
  max-height: fit-content;
  margin: 0 auto;
  margin-top: 10rem;
  background-color: var(--bg);
  box-shadow: 0px 0.5rem 1rem -0.5rem rgba(19, 17, 16, 0.384);
  border-radius: 0.25rem;

  hr {
    margin-top: 3rem;
  }
}

.date_card_about {
  background-color: #bf112b;
  color: white;
  position: absolute;
  width: 70px;
  height: 90px;
  margin-top: -85px;
  margin-left: 805px;
  border-radius: 5%;
  line-height: 5px;
}

@media only screen and (min-width: 415px) and (max-width: 770px) {
  .date_card_about {
    margin-top: -100px;
    margin-left: 600px;
  }
}

@media only screen and (min-width: 380px) and (max-width: 414px) {
  .event_container {
    flex-direction: column;

    &_poster {
      width: 100%;
    }

    &_content {
      width: 100%;
    }
  }

  .date_card_about {
    margin-top: -100px;
    margin-left: 270px;
  }
}

@media only screen and (min-width: 365px) and (max-width: 375px) {
  .event_container {
    flex-direction: column;

    &_poster {
      width: 100%;
    }

    &_content {
      width: 100%;
    }
  }

  .date_card_about {
    margin-top: -100px;
    margin-left: 240px;
  }
}

@media only screen and (max-width: 360px) {
  .event_container {
    flex-direction: column;

    &_poster {
      width: 100%;
    }

    &_content {
      width: 100%;
    }
  }

  .date_card_about {
    margin-top: -100px;
    margin-left: 225px;
  }
}
