.event_header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 100%;
  height: 75vh;
  background-color: black;
  margin-top: -10rem;
  z-index: -1;
}

.event_blur {
  filter: blur(0.2rem);
  -webkit-filter: blur(0.2rem);
}

.event_container {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;

  &_poster {
    background-repeat: no-repeat;
    width: 50%;
    height: 24rem;
  }

  &_content {
    width: 45%;
    min-height: 15rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.event-page {
  min-height: 100vh;
  width: 100%;
}

.event_header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
  //background: rgba(10, 15, 30, 0.72);
}

.event {
  padding: 3rem 3rem;
  max-width: 55rem;
  min-height: 23rem;
  max-height: fit-content;
  margin: 0 auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
  background-color: var(--bg);
  box-shadow: 0px 0.5rem 1rem -0.5rem rgba(19, 17, 16, 0.384);
  border-radius: 0.25rem;

  hr {
    margin-top: 3rem;
  }
}

.event-time {
  color: #c40629;
  font-weight: 700;
}

.event-subtitle {
  color: #42474c;
  font-weight: 700;
  font-size: 0.95rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.date_card_about {
  background-color: #bf112b;
  color: white;
  position: absolute;
  width: 70px;
  height: 90px;
  margin-top: -85px;
  margin-left: 805px;
  border-radius: 5%;
  line-height: 5px;
}

.calendar-icons {
  display: flex;
  justify-content: space-between;
  width: 35%;
}

@media only screen and (min-width: 771px) and (max-width: 810px) {
  .date_card_about {
    margin-top: -100px;
    margin-left: 650px;
  }

  .calendar-icons {
    width: 40%;
  }
}

@media only screen and (min-width: 429px) and (max-width: 770px) {
  .date_card_about {
    margin-top: -100px;
    margin-left: 600px;
  }
}

@media only screen and (min-width: 380px) and (max-width: 428px) {
  .event_container {
    flex-direction: column;

    &_poster {
      width: 100%;
    }

    &_content {
      margin-top: 1.5rem;
      width: 100%;
    }
  }

  .date_card_about {
    margin-top: -100px;
    margin-left: 260px;
  }

  .calendar-icons {
    width: 40%;
  }
}

@media only screen and (min-width: 365px) and (max-width: 375px) {
  .event_container {
    flex-direction: column;

    &_poster {
      width: 100%;
    }

    &_content {
      width: 100%;
    }
  }

  .date_card_about {
    margin-top: -100px;
    margin-left: 240px;
  }

  .calendar-icons {
    width: 45%;
  }
}

@media only screen and (max-width: 360px) {
  .event_container {
    flex-direction: column;

    &_poster {
      width: 100%;
    }

    &_content {
      width: 100%;
    }
  }

  .date_card_about {
    margin-top: -100px;
    margin-left: 225px;
  }

  .calendar-icons {
    width: 50%;
  }
}
