.outer_event_card {
  width: 100%;
  max-width: 100%;
  font-family: "Source Sans Pro", sans-serif;
  position: relative;
  background-color: white;
  color: black;
}

.event_card_link {
  color: inherit;
  text-decoration: none;
}

.event_card {
  display: grid;
  grid-template-rows: 13.1rem 8.1rem;
  grid-template-columns: 14.5rem;
  grid-template-areas:
    "picture"
    "description";
  width: 14.5rem;
  height: 24rem;
  border-radius: 2%;
  box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  text-decoration: none;
  transition: all 0.15s;
  color: #42474c;
  margin-bottom: 1rem;
}

.event_card:hover {
  box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
  transition: all 0.15s;
  color: #c40729;
}

.date_card {
  background-color: #bf112b;
  color: white;
  position: absolute;
  width: 60px;
  height: 80px;
  right: 0;

  margin-top: -30px;
  margin-right: 1rem;
  border-radius: 5%;
  line-height: 5px;

  h3 {
    font-size: 17px;
  }
  h2 {
    font-size: 20px;
  }
}

.upper_picture {
  grid-area: picture;
  max-width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  border-bottom: 1px solid grey;
}

.lower_info {
  display: block;
  grid-area: description;
  margin: 1rem;
}

.time_text {
  color: #c40729;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.title_text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.truncated_text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 14px;
  margin-bottom: 2rem;
  color: #42474c;
}

.red_line {
  border: 1px solid #bf112b;
  width: 3rem;
}

/* Good for tablets */
@media only screen and (min-width: 415px) and (max-width: 1120px) {
  .event_card_link {
    color: inherit;
    text-decoration: none;
  }

  .date_card {
    margin-top: -40px;
  }

  .event_card {
    grid-template-columns: 22vw 66vw;
    grid-template-rows: 10rem;
    grid-template-areas: "picture description";
    width: 100%;
    height: auto;
  }

  .lower_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .truncated_text {
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 414px) {
  .event_card_link {
    color: inherit;
    text-decoration: none;
  }

  .event_card {
    display: flex;
    width: 90vw;
    height: auto;
  }

  .date_card {
    // display: none;
    margin: -38px 0 0 0;
    // margin-left: 36vw;

    // width: 60vw;
    transform: scale(0.7);
  }

  .title_text {
    font-size: 16px;
  }

  .upper_picture {
    width: 50%;
    background-position: 1%;
  }

  .red_line {
    display: none;
  }

  .lower_info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
