.archived-event-wrapper {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  min-height: 90vh;

  a {
    text-decoration: none;
    color: inherit;
  }
}

.archived-event {
  margin-bottom: 50px;

  h2 {
    margin-bottom: 4px;
  }

  &:hover h2 {
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
    color: #ff1f48;
  }

  .archived-event-date {
    margin-bottom: 10px;
  }
}
