.faq-topic {
  &__page {
    background: #faf9f8;
    height: fit-content;
    padding-bottom: 5rem;
  }

  &__content {
    max-width: 65rem;
    margin: 0 auto;
    height: fit-content;
    padding: 2.5rem;
  }

  &__header {
    .page-section-image {
      min-height: 20rem;
    }

    .page-section {
      padding: 2rem 0rem;
      margin-bottom: 3rem;
    }
  }

  &__articles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
    align-items: stretch;
  }

  &__article {
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 0.5rem;  
    padding: 2rem;  
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    transition: all 0.2s ease-in-out;

    .card_text {
      flex-grow: 1;
    }

    h3 {
      min-height: 3rem;
      font-weight: 700;
      font-size: 1.25rem;
      margin: 0 0 1.5rem 0;      
    }

    p {
      color: #5f5f5f;
      margin-bottom: 1.5rem;
      font-size: 1rem;
    }    

    a {
      margin-top: 1.5rem;
      align-self: flex-start;
    }

    &:hover {
      box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
      transform: translateY(-4px);
    }
  }

  &__questions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
  }

  &__question {
    
    p {
      color: #8d8d8d;
      margin-bottom: 1.5rem;
    }

    a {
      color: #c40729;
    }

    a:hover {
      color: #ff1f48;
    }

    a:visited {
      color: #c40729;
    }
  }

  @media (max-width: 768px) {

    &__articles {
      grid-template-columns: 1fr;
      gap: 2.5rem;
    }

    &__questions {
      grid-template-columns: 1fr;
      gap: 2.5rem;
    }
  }
}
