.faq-question {
  &__page {
    background: #faf9f8;
    min-height: 90vh;
    height: fit-content;
    padding-bottom: 5rem;
    a {
      color: #c40729;
    }

    a:hover {
      color: #ff1f48;
    }

    a:visited {
      color: #c40729;
    }
  }

  &__content {
    max-width: 65rem;
    margin: 0 auto;
    height: fit-content;
    padding: 2.5rem;
  }

  &__title {
    font-size: 2.5rem;
    font-weight: 700;
    height: fit-content;
  }

  &__contributors {
    margin-bottom: 1rem;
  }

  &__summary {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    line-height: 1.8rem;
  }

  &__last-updated {
    color: #c40729;
    margin-bottom: 1.5rem;
  }

  &__body {
    font-size: 1.15rem;
    margin: 3rem 0;
    margin-bottom: 4rem;
    line-height: 1.6rem;
  }

  &__sources {
    cursor: pointer;
    margin-bottom: 1.5rem;

    a {
      color: #c40729;
    }

    a:hover {
      color: #ff1f48;
    }

    a:visited {
      color: #c40729;
    }

    summary {
      font-size: 1.15rem;
      margin-bottom: 0.5rem;
      list-style: none;
      &::-webkit-details-marker {
        display: none;
      }
    }

    summary::after {
      content: " ▼";
      margin-left: 0.5rem;
      font-size: 0.85rem;
    }

    &[open] summary::after {
      content: " ▲";
      font-size: 0.85rem;
    }
  }

  @media (max-width: 768px) {
    &__title {
      font-size: 1.5rem;
      line-height: 1.2;
    }

    &__summary {
      font-size: 1.1rem;
      line-height: 1.4;
    }
    &__contributors {
      font-size: 1rem;
    }
    &__body {
      font-size: 1rem;
      line-height: 1.4;
    }
    &__sources {
      font-size: 1rem;
    }
    &__last-updated {
      font-size: 1rem;
    }
  }
}
