.faq-question {
  &__page {
    background: #faf9f8;
    min-height: 90vh;
    height: fit-content;
    padding-bottom: 5rem;
  }

  &__content {
    max-width: 65rem;
    margin: 0 auto;
    height: fit-content;
    padding: 2.5rem;
  }

  &__title {
    font-size: 2.7rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
  }

  &__contributors {
    margin-bottom: 1.5rem;
    font-size: 1.15rem;
  }

  &__summary {
    font-size: 1.5rem;
    margin-bottom: 3.5rem;
  }

  &__body {
    font-size: 1.15rem;
    margin-bottom: 3.5rem;
  }

  &__sources {
    cursor: pointer;
    margin-bottom: 1.5rem;

    a {
      color: #c40729;
    }

    a:hover {
      color: #ff1f48;
    }

    a:visited {
      color: #c40729;
    }

    summary {
      max-width: fit-content;
      font-size: 1.15rem;
      margin-bottom: 0.5rem;
      list-style: none;
      &::-webkit-details-marker {
        display: none;
      }
    }

    summary::after {
      content: " ▼";
      margin-left: 0.5rem;
      font-size: 0.85rem;
    }

    &[open] summary::after {
      content: " ▲";
      font-size: 0.85rem;
    }
  }
}
