#resources-heading {
  margin-bottom: 2rem;
}

#faqs-heading {
  margin: 3rem 0 2rem 0;
  scroll-margin-top: 7rem;
}

.resources-topic {
  &__page {
    background: #faf9f8;
    height: fit-content;
    padding-bottom: 5rem;
  }

  &__content {
    max-width: 65rem;
    margin: 0 auto;
    height: fit-content;
    padding: 2.5rem;
  }

  &__header {
    .page-section-image {
      min-height: 20rem;
    }

    .page-section {
      padding: 2rem 0rem;
      margin-bottom: 3rem;
    }
  }

  &__articles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
    align-items: stretch;
  }

  &__article {
    background-color: #fff;
    box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.2s ease-in-out;

    .card_text {
      flex-grow: 1;
    }

    h3 {
      min-height: 3rem;
      font-weight: 700;
      font-size: 1.25rem;
      margin: 0 0 1.5rem 0;
    }

    p {
      color: #5f5f5f;
      margin-bottom: 1.5rem;
      font-weight: 500;
      font-size: 1rem;
    }

    a {
      margin-top: 1.5rem;
      align-self: flex-start;
    }

    &:hover {
      box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
      transform: translateY(-4px);
    }
  }

  &__questions {
    a {
      text-decoration: none;

      h3 {
        color: #000;
        font-weight: 700;
      }

      p {
        margin-top: 0.75rem;
      }
    }
  }

  &__question {
    background-color: #fff;
    max-height: 12rem;
    border-radius: 1rem;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .faq-arrow {
      color: #c40729;
      margin-left: 0.75rem;
    }

    h3 {
      font-weight: 700;
      font-size: 1.25rem;
      margin: 0;
    }

    p {
      color: #5f5f5f;
      margin: 0;
      font-weight: 500;
      font-size: 1rem;
      transition: all 0.3s ease;
      display: -webkit-box;
      -webkit-line-clamp: 1; // number of lines before ellipsis
      line-clamp: 1; // standard property for compatibility
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &:hover {
      box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
      transform: translateY(-4px);
    }
  }

  @media (max-width: 768px) {
    &__articles {
      grid-template-columns: 1fr;
      gap: 2.5rem;

      h3 {
        font-size: 1.25rem;
        line-height: 1.35;
      }

      p {
        font-size: 1rem;
        line-height: 1.4;
      }
    }

    &__question {
      h3 {
        font-size: 1rem;
        line-height: 1.35;
      }

      p {
        font-size: 0.875rem;
        line-height: 1.4;
        display: -webkit-box;
        -webkit-line-clamp: 2; // number of lines before ellipsis
        line-clamp: 2; // standard property for compatibility
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
