.faq-question {
  &__page {
    background: #faf9f8;
    min-height: 90vh;
    height: fit-content;
    padding-bottom: 5rem;
  }

  &__content {
    max-width: 65rem;
    margin: 0 auto;
    height: fit-content;
    padding: 2.5rem;
  }

  &__title {
    font-size: 2.7rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
  }

  &__summary {
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 3.4rem;
  }

  &__body {
    font-size: 1.15rem;
    margin-bottom: 4rem;
  }

  &__sources {
    margin-bottom: 2.5rem;
    a {
      color: #c40729;
    }

    a:hover {
      color: #ff1f48;
    }

    a:visited {
      color: #c40729;
    }
  }
}
