.footer {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #c40729;
  padding-bottom: 2rem;

  a {
    color: inherit;
  }
}

.footer-socials {
  display: flex;
  justify-content: space-between;
  width: 14rem;
  font-size: 1.5rem;
  margin-bottom: 0.6rem;
  margin-top: 0.1rem;
  // this margin just makes the spacing look better
  // can probs play around with it more
}

.footer-text {
  text-align: center;
  font-size: 1rem;
  b {
    font-size: 1.25rem;
  }
}
