.hack-the-tunnels-page {
  height: 100vh;
  text-align: center;
  background-color: #01000cf8;
}

.hack-the-tunnels-background-wrap {
  position: absolute;
  width: 100vw;
  height: 200vh;
  overflow: hidden;
  background-color: black;
  z-index: -2;
  @media only screen and (max-width: 600px) {
    height: 120vh;
  }
}

.hack-the-tunnels {
  overflow-y: hidden;

  &__gallery {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;

    &-1 {
      height: 15rem;
      width: 16rem;
      background-image: url("/images/event_pics/2023-2024/hack-the-tunnels/1.jpg");
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: cover;
      border-radius: 1rem;
    }

    &-2 {
      height: 15rem;
      width: 16rem;
      background-image: url("/images/event_pics/2023-2024/hack-the-tunnels/2.jpg");
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: cover;
      border-radius: 1rem;
    }

    &-3 {
      height: 15rem;
      width: 16rem;
      background-image: url("/images/event_pics/2023-2024/hack-the-tunnels/4.jpg");
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: cover;
      border-radius: 1rem;
    }

    &-4 {
      height: 15rem;
      width: 16rem;
      background-image: url("/images/event_pics/2023-2024/hack-the-tunnels/3.jpg");
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: cover;
      border-radius: 1rem;
    }
  }

  &__link {
    color: #34d3fa !important;
  }

  &__heading {
    font-size: 1.7rem !important;
  }

  &__text {
    font-size: 1.2rem !important;
  }

  &__logo {
    object-fit: cover;
    width: 100%;
  }

  &__logo-2024 {
    object-fit: cover;
    width: 100%;
    max-width: 42rem;
  }

  &__date {
    padding-top: 1.5rem;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
  }

  &__date-2024 {
    font-size: 1.3rem;
    padding-top: 4rem;
    margin-bottom: -1.4rem;
    color: white;
    font-weight: bold;
  }

  &__cards {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    margin: 0 1rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  &__card {
    width: 50%;
    height: 30rem;
    margin: auto;
    padding: 1rem;

    p {
      font-size: 1.3rem !important;
    }

    h1 {
      font-size: 5rem !important;
      margin-bottom: 0;
    }
  }

  &__schedule {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__event {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 0.2rem;
    text-align: left;

    @media only screen and (max-width: 600px) {
      font-size: 0.9rem;
    }
  }

  @media only screen and (max-width: 600px) {
    &__cards {
      flex-direction: column;
    }

    &__card {
      width: 90%;
    }
  }

  @media only screen and (max-width: 600px) {
    &__date {
      font-size: 1.1rem;
    }
  }
}

.day1 {
  border: 10px solid #34d3fa;
  border-radius: 2rem;
}

.day2 {
  border: 5px solid #c6006a;
  border-radius: 2rem;
}

.day1-2024 {
  border: 7px solid #3a309f;
  border-style: dashed;

  h1 {
    font-size: 3.75rem !important;
  }
}

.day2-2024 {
  border-image: linear-gradient(
      to right,
      #34d3fa 0%,
      #8c65fe 40%,
      #f9df02 75%,
      #c6006a 100%
    )
    1;
  border-width: 10px;
  border-style: solid;
  animation: slidebg 5s linear infinite;

  h1 {
    font-size: 3.75rem !important;
  }
}

.day1-number {
  color: #8c65fe;
}

.day2-number {
  color: #f9df02;
}

.day1-number-2024 {
  color: #f9df02;
}

.day2-number-2024 {
  color: #78ff3e;
}

.header-button {
  margin-top: 3rem;
  border-radius: 0.3rem;
  border-width: 0px;
  min-width: 9rem;
  background-color: #ffffff;
  padding: 0.75rem 1.5rem;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 1.05rem;
  transition: all 0.15s;
  cursor: pointer;
}

.header-button:hover {
  background-image: linear-gradient(
    90deg,
    #34d3fa 0%,
    #8c65fe 39%,
    #f9df02 70%,
    #c6006a 90%,
    #34d3fa 100%
  );
  animation: slidebg 5s linear infinite;
  color: white;
}

@keyframes slide {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -400px 0;
  }
}

@keyframes slidebg {
  to {
    background-position: 20vw;
  }
}
