* {
  box-sizing: border-box;
}

body {
  font-family:  Verdana, sans-serif;
}

.mySlides {
  display: None;
}

img {
  vertical-align: middle;
}

.image {
  background-color: black;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  height: 75vh;
}

.space {
  width: 50%;
}

.caption {
  background-color: red;
  color: #f2f2f2;
  font-size: 1.5vw;
  max-width: 30%;
  text-align: center;
  position: relative;
  left: 60%;
  top: 25%;
}

.condition{
  display: None;
}

.dots {
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
      opacity: .4;
  }
  to {
      opacity: 1;
  }
}

@keyframes fade {
  from {
      opacity: 0.4;
  }
  to {
      opacity: 1;
  }
}

@media screen and (max-width: 770px) {
  .dots {
      display: None;
  }

  .caption {
      display: None;
  }
  
  .condition{
      display: flex;
      background-color: red;
      color: #f2f2f2;
      font-size: 3.3vw;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
  }
}
