.links-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  width: 100%;

  color: white;
  background: #c40729;

  .fab, .fas {
    color: white !important;
    padding: 20px;
    font-size: 30px;
    text-decoration: None;
  }

  .fab:hover, .fas:hover {
    color: black !important;
  }
}

.links-main {
  max-width: 700px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.links-header {
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.links-header-image {
  border-radius: 50%;
  width: 7rem;
}

.accordion {
  text-align: center;
  height: fit-content;
  color: black;
  cursor: pointer;
  padding: 1.2rem 0;
  width: 100%;
  border: none;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  border-radius: 0px;
  margin-bottom: 0px!important;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  padding-right: 1rem;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  max-height: 0;
  height: 100%;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.panel .link{
  position: absolute;
  top: -3rem;
  z-index: 2;
}

.panel .link-anchor{
  position: relative;
  z-index: 2;
  display:block;
}

button.link{
  width: 100.6%;
}

.link-anchor {
  color: inherit;
  text-decoration: none;
  width: 100%;
  text-align: center;
  height: fit-content;
}

.link {
  width: 100%;
  z-index: 0;
  overflow: hidden;
  margin-bottom: 16px;
  transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s,
    color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s,
    border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s,
    transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s,
    background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s;
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  color: rgb(61, 59, 60);
  border-radius: 0px;
  height: auto;
  padding: 1.2rem 0;
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  color: white;
}

.link:hover {
  color: white;
  background: #c40729;
}

.thread{
  border-bottom: 5px solid lightgray;
  border-left: 5px solid lightgray;
  position:relative;
  left: -13px;
  top: -1rem;
  height: 4rem;
  z-index: 1;
}
