.nav {
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  transition: height 0.4s cubic-bezier(0.52, 0.16, 0.24, 1);
  z-index: 999;
  background: var(--dark);
  border-bottom: 2px solid #c40729;
  &-body {
    box-shadow: 0 1.5rem 6rem rgba(0, 0, 0, 0.17);
    position: fixed;
    right: 10px;
    z-index: 1;
    top: 100%;
    opacity: 0;
    overflow: hidden;
    transition: top 0.33s linear;
    background: transparent;
    background-color: var(accent);
    width: 16rem;
    padding: 100px 0;
    min-height: 100vh;
    z-index: 1;
  }
  &-menu {
    position: relative;
    padding: 10px 25px 10px 0;
    height: 100%;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
      color: inherit;
      display: block;
      padding: 10px 25px;
      font-size: 105%;
      img {
        width: 250px;
        margin: 0rem;
        margin-top: -0.25rem;
      }
    }
  }
}
li {
  display: inline-block !important;
}

.item {
  display: inline;
  &:hover {
    cursor: pointer;
  }
}

.arrow {
  animation-name: out;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  text-align: center;
  display: inline-block;
}

.item:hover .arrow {
  animation-name: in;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

.arrow:hover {
  animation-name: in;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  cursor: pointer;
}

@keyframes in {
  from {
    transform: rotateX(0deg);
  }

  to {
    transform: rotateX(180deg);
  }
}

@keyframes out {
  from {
    transform: rotateX(180deg);
  }

  to {
    transform: rotateX(0deg);
  }
}

.spacer {
  width: 100%;
  height: 195px;
}

#item1,
#item2,
#item3 {
  display: inline;
}

#actual_content1 {
  color: black;
  position: fixed;
  -webkit-transition: all 600ms ease-out;
  -moz-transition: all 600ms ease-out;
  -o-transition: all 600ms ease-out;
  -ms-transition: all 600ms ease-out;
  transition: all 600ms ease-out;
  margin-top: 275px;
  margin-left: -200px;
  opacity: 0;
  z-index: 1;

  &:hover {
    z-index: 3 !important;
    opacity: 1;
  }
}

#actual_content2 {
  color: black;
  position: fixed;
  -webkit-transition: all 600ms ease-out;
  -moz-transition: all 600ms ease-out;
  -o-transition: all 600ms ease-out;
  -ms-transition: all 600ms ease-out;
  transition: all 600ms ease-out;
  margin-top: 275px;
  margin-left: -200px;
  opacity: 0;
  z-index: 1;

  &:hover {
    z-index: 3 !important;
    opacity: 1;
  }
}

#actual_content3 {
  color: black;
  position: fixed;
  -webkit-transition: all 600ms ease-out;
  -moz-transition: all 600ms ease-out;
  -o-transition: all 600ms ease-out;
  -ms-transition: all 600ms ease-out;
  transition: all 600ms ease-out;
  margin-top: 275px;
  margin-left: -200px;
  opacity: 0;
  z-index: 1;

  &:hover {
    z-index: 3 !important;
    opacity: 1;
  }
}

#dormant_content {
  position: fixed;
  width: 101%;
  height: 200px;
  margin-top: 275px;
  margin-left: -450px;
  z-index: 2;
}

#item1:hover ~ {
  #actual_content1 {
    z-index: 3 !important;
    -webkit-transition: all 400ms ease-in;
    -moz-transition: all 400ms ease-in;
    -o-transition: all 400ms ease-in;
    -ms-transition: all 400ms ease-in;
    transition: all 400ms ease-in;
    opacity: 1;
    display: block;
  }
}

#item2:hover ~ {
  #actual_content2 {
    z-index: 3 !important;
    -webkit-transition: all 400ms ease-in;
    -moz-transition: all 400ms ease-in;
    -o-transition: all 400ms ease-in;
    -ms-transition: all 400ms ease-in;
    transition: all 400ms ease-in;
    opacity: 1;
    display: block;
  }
}

#item3:hover ~ {
  #actual_content3 {
    z-index: 3 !important;
    -webkit-transition: all 400ms ease-in;
    -moz-transition: all 400ms ease-in;
    -o-transition: all 400ms ease-in;
    -ms-transition: all 400ms ease-in;
    transition: all 400ms ease-in;
    opacity: 1;
    display: block;
  }
}

.item_block {
  -webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  -ms-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  display: grid;
  width: 300px !important;
  height: 150px !important;
  margin-right: 50px;
  border-color: black;
  border-width: 2px;
  border-style: solid;

  &:hover {
    transform: scale(1.01);
    box-shadow: 0 0 3px #515151;
  }
}

.left-item {
  width: 150px;
  height: 150px;
  border-right: 2px solid black;
}

//Possible arrow?
// .right-pointer{
//   position: fixed;
//   margin: -85px 0px 0px 240px;
//   width: 25px;
//   height: 25px;
//   border-top: 2px solid #9b1d06;
//   border-left: 2px solid #9b1d06;
//   transform: rotate(135deg);
// }
// .right-pointer:after{
//   content: "";
//   display: block;
//   width: 2px;
//   height: 90px;
//   background-color: #9b1d06;
//   transform: rotate(-45deg);
//   margin-top:-47px;

// }
