.nav {
    position: absolute;
    top: 0;
    width: 100%;
    transition: height 0.4s cubic-bezier(0.52, 0.16, 0.24, 1);
    z-index: 999;
    background: var(--dark);
    border-bottom: 2px solid #C40729;
    &-body {
      box-shadow: 0 1.5rem 6rem rgba(0,0,0,0.17);
      position: fixed;
      right: 10px;
      z-index: 1;
      top: 100%;
      opacity: 0;
      overflow: hidden;
      transition: top 0.33s linear;
      background: transparent;
      background-color: var(accent);
      width: 16rem;
      padding: 100px 0;
      min-height: 100vh;
      z-index: 1;
    }
    &-menu {
        position: relative;
        padding: 10px 25px 10px 0;
        height: 100%;
        max-width: 1024px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        a {
          color: inherit;
          display: block;
          padding: 10px 25px;
          font-size: 105%;
          img {
            width: 250px;
            margin: 0rem; 
            margin-top: -0.25rem;
          }
        }
      }
  }