.news-flex-wrapper {
  max-width: 1024px;
  padding-bottom: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 13px;
  margin: 0 auto;
}

@media only screen and (min-width: 475px) and (max-width: 1120px) {
  .news-flex-wrapper {
    justify-content: space-evenly;
  }
}

@media only screen and (max-width: 475px) {
  .news-flex-wrapper {
    justify-content: center;
  }
}

@media only screen and (max-width: 600px) {
  .news-link {
    transform: scale(0.75);
  }
}

.news-link {
  text-decoration: none;
  color: inherit;
  margin-bottom: 1.5rem;
}
