.featured-news-desktop {
  margin-top: 2rem;
  margin-bottom: 1rem;
  display: block;
}

.featured-news-mobile {
  display: none;
  transform: scale(0.75);
}

.outer_news_page_article_card {
  width: 472px;
  height: 354px;
  border-radius: 2%;
  font-family: sans-serif;
  box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  background-color: white;

  &:hover {
    cursor: pointer;
  }

  &:hover .news_page_article_picture {
    height: 40%;
    opacity: 0.5;
  }

  &:hover .article_info {
    height: 60%;
  }

  &:hover .article_excerpt {
    opacity: 1;
    height: 90px;
    user-select: auto;
  }
}

.news_page_article_picture {
  -webkit-transition: height 500ms, opacity 500ms;
  -moz-transition: height 500ms, opacity 500ms;
  -ms-transition: height 500ms, opacity 500ms;
  -o-transition: height 500ms, opacity 500ms;
  transition: height 500ms, opacity 500ms;
  height: 67%;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
}

.article_date {
  color: #c40729;
  padding-bottom: 15px;
}

.article_info {
  -webkit-transition: height 500ms;
  -moz-transition: height 500ms;
  -ms-transition: height 500ms;
  -o-transition: height 500ms;
  transition: height 500ms;
  height: calc(33% - 40px);
  padding: 20px;
  z-index: 2;
}

.article_title {
  padding-bottom: 15px;
  font-size: 18px;
  font-weight: 700;
}

.article_excerpt {
  -webkit-transition: opacity 200ms, height 200ms;
  -moz-transition: opacity 200ms, height 200ms;
  -ms-transition: opacity 200ms, height 200ms;
  -o-transition: opacity 200ms, height 200ms;
  transition: opacity 200ms, height 200ms;
  user-select: none;
  opacity: 0;
  height: 0;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.outer_news_page_featured_article_card {
  display: inline-flex;
  width: 977px;
  height: 361px;
  border-radius: 1rem;
  font-family: sans-serif;
  box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  background-color: white;

  &:hover {
    cursor: pointer;
  }

  &:hover .news_page_featured_article_picture {
    width: 65%;
    opacity: 0.5;
  }
}

.news_page_featured_article_picture {
  -webkit-transition: opacity 500ms, width 500ms;
  -moz-transition: opacity 500ms, width 500ms;
  -ms-transition: opacity 500ms, width 500ms;
  -o-transition: opacity 500ms, width 500ms;
  transition: opacity 500ms, width 500ms;
  width: 70%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.featured_article_info {
  padding: 0 20px;
  padding-left: 2.5rem;
  display: flex;
  width: 225px;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.featured_article_excerpt {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.featured_article_title {
  font-size: 24px;
  font-weight: 700;
}

.featured_article_date {
  color: #c40729;
}

/* Good for tablets */
@media only screen and (min-width: 601px) and (max-width: 1120px) {
  .outer_news_page_featured_article_card {
    width: 93vw;
  }

  .featured_article_info {
    width: 150px;
  }

  .outer_news_page_article_card {
    width: 44vw;
  }
}

@media only screen and (max-width: 600px) {
  .featured-news-desktop {
    display: none;
  }

  .featured-news-mobile {
    display: block;
  }

  .outer_news_page_article_card {
    margin-bottom: -50px;
  }
}
