.organization_card {
  display: grid;
  grid-template-rows: 56% 44%;
  background-color: white;
  grid-template-columns: 1fr;
  border-radius: 2%;
  grid-template-areas:
    "picture"
    "description";
  height: 350px;
  width: 14.5rem;
  box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.15s;
  margin-bottom: 4rem;

  a {
    text-decoration: none;
    color: inherit;
  }

  a:hover {
    text-decoration: underline;
    color: #c40729;
  }
}

.organization_card:hover {
  box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
  transition: all 0.15s;
  color: #c40729;
}

.upper_organization_picture {
  grid-area: picture;
  width: inherit;
  max-width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  border-bottom: 1px solid grey;
}

.lower_organization_info {
  grid-area: description;
  display: block;
  width: 210px;
  max-width: 100%;
  height: auto;
  margin: 11px;
  margin-bottom: 5px;
}

.organization_name_text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  // font-family: "Generis Sans";
  font-weight: bold;
  font-size: 1.063rem;
  margin-bottom: 9px;
}

.organization_description_text {
  // font-family: "Generis Sans - Med";
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 16px;
  margin-bottom: 1rem;
  color: #42474c;
}

.organization_links {
  display: flex;
  justify-content: space-evenly;
  max-width: 100%;
  flex-shrink: 1;
  gap: 20px;
  margin-bottom: 15px;
}

.fa-instagram,
.fa-discord,
.fa-github-square,
.fa-instagram,
.fa-twitter-square,
.fa-linkedin,
.fa-slack,
.fa-facebook-square {
  color: #3b3b3b;
  -webkit-transform: scale(1.45);
  transform: scale(1.45);
}

.fa-discord {
  margin-top: 0.5px;
}
