@import url(//db.onlinewebfonts.com/c/d3ff12e8327c32ad79e2e1b003448c27?family=Generis+Sans);
@font-face {
  font-family: "Generis Sans - Med";
  src: url("//db.onlinewebfonts.com/t/d3ff12e8327c32ad79e2e1b003448c27.eot");
  src: url("//db.onlinewebfonts.com/t/d3ff12e8327c32ad79e2e1b003448c27.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/d3ff12e8327c32ad79e2e1b003448c27.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/d3ff12e8327c32ad79e2e1b003448c27.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/d3ff12e8327c32ad79e2e1b003448c27.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/d3ff12e8327c32ad79e2e1b003448c27.svg#Generis Sans")
      format("svg");
}

@import url(//db.onlinewebfonts.com/c/10e09daee0a60677b555581654b44612?family=Generis+Sans);
@font-face {
  font-family: "Generis Sans";
  src: url("//db.onlinewebfonts.com/t/10e09daee0a60677b555581654b44612.eot");
  src: url("//db.onlinewebfonts.com/t/10e09daee0a60677b555581654b44612.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/10e09daee0a60677b555581654b44612.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/10e09daee0a60677b555581654b44612.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/10e09daee0a60677b555581654b44612.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/10e09daee0a60677b555581654b44612.svg#Generis Sans")
      format("svg");
}


.organization_card {
  border: 2px solid black;
  display: grid;
  grid-template-rows: 56% 44%;
  grid-template-columns: 210px;
  grid-template-areas:
    "picture"
    "description";
  height: 350px;
  width: 210px;
}

.upper_organization_picture {
  grid-area: picture;
  max-width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  border-bottom: 1px solid grey;
}

.lower_organization_info {
  grid-area: description;
  display: block;
  max-width: 100%;
  height: auto;
  margin: 11px;
  margin-bottom: 5px;
}

.organization_name_text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-family: "Generis Sans";
  font-weight: bold;
  font-size: 17px;
  margin-bottom: 9px;
}

.organization_description_text {
  font-family: "Generis Sans - Med";
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 16px;
  margin-bottom: 1rem;
  color: #42474c;
}

.organization_links{
    display: flex;
    width: 100%;
    max-width: 100%;
    margin-left: 4px;
    flex-shrink: 1;
    gap: 20px;
    margin-bottom: 15px;
}


.fa-instagram,
.fa-discord,
.fa-github-square,
.fa-instagram,
.fa-twitter-square,
.fa-linkedin,
.fa-slack,
.fa-facebook-square{
    color: #3b3b3b;
    left: 0;
    transform: scale(1.45);
}

.fa-discord{
    margin-top: 0.5px;
}



