.pagination {
  text-align: center;
  font-size: bold;
  display: flex;
  justify-content: space-between;
  max-width: 10rem;
  margin: auto;
  padding: 0;

  li {
    display: inline;
    text-align: center;
  }

  a {
    text-decoration: auto;
  }

  .pagination__item--current {
    color: red;
  }
}
