.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 85vh;
  background-color: #faf9f8;
}

.page-header-image {
  width: 50vw;
  height: 60vh;
  transition: background-image 1s ease-in-out;
  background-image: url("/images/lounge.png"); // TEMP FOR DEMO ... images/orientation2018-min.jpeg
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  border-radius: 1rem;
}

.page-header-content {
  width: 47vw;
  margin-left: 4rem;
}

.page-header-title {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.page-header-text {
  max-width: 65%;
  font-size: 47px;
  line-height: 1.125;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.page-header-body {
  max-width: 65%;
  color: #42474c;
  font-weight: 400;
  font-size: 1.25em;
  margin-bottom: 3rem;
}

.page-section {
  min-height: fit-content;
  display: grid;
  grid-column-gap: 6rem;
  grid-template-columns: 1fr 1fr;
  padding: 3rem 0;
}

.page-section-reverse {
  flex-direction: row-reverse;
}

.page-section-content {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  a {
    width: fit-content;
  }
}

.page-section-body {
  color: #42474c;
  font-weight: 400;
  font-size: 1.25em;
  margin-bottom: 3rem;
}

.page-section-text {
  font-size: 47px;
  line-height: 1.125;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.page-section-image {
  border-radius: 10px;
  min-height: 25rem;
  width: 100%;
  transition: background-image 1s ease-in-out;
  background-image: url("/images/workshops.png"); // TEMP FOR DEMO ... images/orientation2018-min.jpeg
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  border-radius: 1rem;
}

.page-section-image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  width: 100%;

  @media only screen and (max-width: 600px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.page-section-image-grid img {
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 0.75rem;
}

.page {
  @media only screen and (min-width: 901px) {
    .page-heading {
      padding-left: 0;
      padding-right: 0;
      height: 90vh;
      justify-content: center;
      align-items: center;

      .page-section-image {
        height: 70vh;
      }

      .home-section {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .page-header {
    flex-direction: column-reverse;
  }

  .page-section {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .page-section-content {
    width: 100%;
  }

  .page-section-grid-priority {
    order: 1;
  }

  .page-section-grid-secondary {
    order: 2;
  }

  .page-section-image {
    min-height: 15rem;
  }

  .page-section-content {
    margin-bottom: 3rem;
  }
}

.page-info-grid {
  display: grid;
  grid-column-gap: 6rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 3rem;

  a {
    color: #c40729;
  }

  a:hover {
    color: #ff1f48;
  }

  .read-more {
    margin-top: 2rem;
  }

  .read-more-arrow {
    font-size: 14px;
    margin-left: 0.2rem;
  }
}

@media only screen and (max-width: 900px) {
  .page-info-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}
