.resource-page-header {
    margin: auto 0;
    font-size: 1.4rem;
    font-weight: 700;
}
.topic-card__title {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.page-topic {
  flex: 1 1 20%;              /* Grow/Shrink/Basis: adjust width here */
  min-width: 200px;           /* Prevents them from becoming too narrow */
  background-color: #f0f0f0;  /* Just for visibility */
  padding: 1rem;
  box-sizing: border-box;
  border: 1px solid #ccc;
  text-align: center;
}

.page-topic-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}