.resource-page-header {
    margin: auto 0;
    font-size: 1.4rem;
    font-weight: 700;
}
.topic-card__title {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}