#intro {
  margin-top: 7rem;
  text-align: center;
}

#team_flex_box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  flex-basis: 0;
  max-width: 85rem;
  margin: auto;
  width: 100%;
}

.team-row {
  display: flex;
  gap: 30px;
}

.team-row-4 {
  flex-wrap: wrap;
}

.team-row-3 {
  flex-wrap: wrap;
}

.team-row-2 {
  flex-wrap: wrap;
}

.past {
  a {
    display: none;
  }
}
