.no-events-fallback {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.no-events-fallback a {
  font-size: 1.25rem;
}
