.woa-page {
    height: 100vh;
    text-align: center;
}

.woa-background {
    position: absolute;
    width: 400vw;
    opacity: 1;
    z-index: -1;
    left: -150vw;
}

.woa-content {
    background-color: #0F0F17;
    min-height: fit-content;
    width: 100vw;
}

.woa-background-wrap {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: black;
    z-index: -2;
}
.woa-header {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.woa-header-logo-image {
    width: 15rem;
    margin-bottom: 2rem;
}

.woa-header-title {
    font-size: 7rem;
    font-weight: bold;
    margin-bottom: 4rem;
    color: white;
    text-shadow: 4px 4px 0px #eb452b,
            8px 8px 0px #efa032,
            12px 12px 0px #46b59b,
            16px 16px 0px #017e7f,
            20px 20px 0px #052939,
            24px 24px 0px #c11a2b,
}

.woa-header-date {
    font-size: 2rem;
    color: white;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    .woa-header-title {
        font-size: 5.5rem;
    }
}

@media only screen and (max-width: 500px) {
    .woa-header-title {
        font-size: 4rem;
    }
}


.woa-events {
    padding: 5rem 2rem;
    margin:auto;
    display: flex;
    max-width: 1100px;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.woa-description {
    padding: 5rem 0;
    margin:auto;
    text-align: center;
    max-width: 1100px;
    color: white;

    h1 {
        font-size: 3rem;
    }

    p {
        font-size: 1.2rem;
    }

    padding-bottom: 1rem;
}
