{{ define "main" }}
  {{- partial "navbar_temp.html" . -}}
  <div class="about-page page">
    <div class="home-section-grid home-section-dark page-heading">
      <div class="home-section">
        <div class="page-section page-section-grid-priority">
          <div
            class="page-section-image page-section-grid-secondary"
            style='background-image: url("/images/general/lounge.jpg")'
          ></div>
          <div class="page-section-content">
            <div class="page-header-title">ABOUT US</div>
            <div class="page-section-text">Your Student Body.</div>
            <div class="page-section-body">
              The Carleton Computer Science Society is a student led
              organization that represents all computer science students
              attending Carleton University.
            </div>
            <a href="#mandate"
              >{{- partial "button.html" (dict "label" "Learn More") -}}</a
            >
          </div>
        </div>
      </div>
    </div>
    <!--
    <div id="mandate" class="home-section-grid home-section-light">
      <div class="home-section">
        <div class="page-section page-section-grid-priority">
          <div class="page-section-content">
            <div class="page-header-title">WHAT WE DO</div>
            <div class="page-section-text">Our Mandate</div>
            <div class="page-section-body">
              The Carleton Computer Science Society is a student led
              organization that represents all computer science students
              attending Carleton University.
            </div>
            <a href="/about/team"
              >{{- partial "button.html" (dict "label" "Learn More") -}}</a
            >
          </div>
          <div class="page-section-image page-section-grid-secondary"></div>
        </div>
      </div>
    </div>
    -->
    <div id="mandate" class="home-section-grid home-section-light">
      <div class="home-section">
        <div class="page-section">
          <div class="page-section-content page-section-grid-primary">
            <div class="page-header-title">OUR TEAM</div>
            <div class="page-section-text">The Board of Directors</div>
            <div class="page-section-body">
              The board of directors is a group of both elected and appointed
              individuals in charge of managing the organization.
            </div>
            <a href="/about/team"
              >{{- partial "button.html" (dict "label" "Learn More") -}}</a
            >
          </div>
          <div
            class="page-section-image page-section-grid-secondary"
            style='background-image: url("/images/general/workshops.jpg")'
          ></div>
        </div>
      </div>
    </div>
    <div class="home-section-grid home-section-dark">
      <div class="home-section">
        <div class="page-section page-section-grid-priority">
          <div
            class="page-section-image page-section-grid-secondary"
            style='background-image: url("/images/general/board.jpg")'
          ></div>
          <div class="page-section-content">
            <div class="page-header-title">ADMINISTRATION</div>
            <div class="page-section-text">Governance</div>
            <div class="page-section-body">
              The CCSS strives to be a transparent and accessible organization
              for all Carleton University computer science students and
              community members.
            </div>
            <a href="/about/governance"
              >{{- partial "button.html" (dict "label" "Learn More") -}}</a
            >
          </div>
        </div>
      </div>
    </div>
    <div id="lounge" class="home-section-grid home-section-light">
      <div class="home-section">
        <div class="page-section">
          <div class="page-section-content page-section-grid-primary">
            <div class="page-header-title">COMMUNITY</div>
            <div class="page-section-text">Our Lounge</div>
            <div class="page-section-body">
              Our lounge, located in HP 4135, is opened 24/7 to all computer
              science students.
            </div>
            <a href="https://carleton.ca/campus/map/#HP"
              >{{- partial "button.html" (dict "label" "Learn More") -}}</a
            >
          </div>
          <div
            class="page-section-image page-section-grid-secondary"
            style='background-image: url("/images/general/lounge.jpg")'
          ></div>
        </div>
      </div>
    </div>
  </div>
{{ end }}
