{{ define "main" }}
  {{- partial "navbar_temp.html" . -}}
  <div class="article-question__page">
    <div class="article-question__content">
      <h1 class="article-question__title">{{ .Title }}</h1>
      {{ with .Params.contributors }}
        <div class="article-question__contributors">
          <i><strong>Written by:</strong> {{ delimit . ", " }}</i>
        </div>
      {{ end }}
      <div class="article-question__summary">
        {{ .Params.summary }}
      </div>
      <div class="article-question__last-updated">
        Last Updated:
        {{ .Params.last_updated | time | dateFormat "January 2, 2006" }}
      </div>
      <hr />
      <div class="article-question__body">
        {{ .Content }}
      </div>
      <hr class="end-line" />
      {{ with .Params.sources }}
        <details class="faq-question__sources">
          <summary><b>View Links and Sources</b></summary>
          {{ range $index, $source := . }}
            <p>
              ({{ add $index 1 }})
              <a href="{{ $source.link }}">{{ $source.name }}</a>
            </p>
          {{ end }}
        </details>
      {{ end }}
      <div class="article-question__related-content">
        {{ partial "resources-related-content.html" . }}
      </div>
    </div>
  </div>
{{ end }}
