{{ define "main" }}
  {{- partial "navbar_temp.html" . -}}
  <script
    src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
    crossorigin="anonymous"
  ></script>
  <script>
    $(document).ready(function () {
      shuffle();

      function shuffle() {
        $(".candidates").each(function () {
          var divs = $(this).find(".c");
          for (var i = 0; i < divs.length; i++) $(divs[i]).remove();
          var i = divs.length;
          if (i == 0) return false;
          while (--i) {
            var j = Math.floor(Math.random() * (i + 1));
            var tempi = divs[i];
            var tempj = divs[j];
            divs[i] = tempj;
            divs[j] = tempi;
          }
          for (var i = 0; i < divs.length; i++) $(divs[i]).appendTo(this);
        });

        $(".candidates2").each(function () {
          var divs = $(this).find(".c2");
          for (var i = 0; i < divs.length; i++) $(divs[i]).remove();
          var i = divs.length;
          if (i == 0) return false;
          while (--i) {
            var j = Math.floor(Math.random() * (i + 1));
            var tempi = divs[i];
            var tempj = divs[j];
            divs[i] = tempj;
            divs[j] = tempi;
          }
          for (var i = 0; i < divs.length; i++) $(divs[i]).appendTo(this);
        });
      }
    });
  </script>
  <div class="candidates-page">
    <div class="candidates-page-info">
      <h1>First Year Representative Candidates</h1>
      <p>
        We are so excited to introduce you to this year's First Year
        Representative candidates. Take a look at all their platforms and think
        about who you want to vote for when voting begins on <b>October 4th!</b>
      </p>
      <div style="color:red; margin-top: 1rem">
        <i>Last Updated: September 28th, 2021</i>
      </div>
    </div>
    <div class="candidates">
      <div class="candiate c">
        <h2>Rabten Tsering</h2>
        <div
          class="candidate-image"
          style="background-image: url(/images/first_year_reps/2021/rabten.jpg);"
        ></div>
        <a href="/elections/fyr/2021-2021/rabten/"
          >{{- partial "button.html" (dict "label" "Read Platform") -}}</a
        >
      </div>
      <div class="candiate c">
        <h2>Shirley Zhan</h2>
        <div
          class="candidate-image"
          style="background-image: url(/images/first_year_reps/2021/shirley.jpg);"
        ></div>
        <a href="/elections/fyr/2021-2021/shirley/"
          >{{- partial "button.html" (dict "label" "Read Platform") -}}</a
        >
      </div>
      <div class="candiate c">
        <h2>Thushen Mohanarajah</h2>
        <div
          class="candidate-image"
          style="background-image: url(/images/first_year_reps/2021/thushen.jpg);"
        ></div>
        <a href="/elections/fyr/2021-2021/thushen/"
          >{{- partial "button.html" (dict "label" "Read Platform") -}}</a
        >
      </div>
      <div class="candiate c">
        <h2>Sahil Gagvani</h2>
        <div
          class="candidate-image"
          style="background-image: url(/images/first_year_reps/2021/sahil.jpg);"
        ></div>
        <a href="/elections/fyr/2021-2021/sahil/"
          >{{- partial "button.html" (dict "label" "Read Platform") -}}</a
        >
      </div>
      <div class="candiate c">
        <h2>Ari Rubin</h2>
        <div
          class="candidate-image"
          style="background-image: url(/images/executives/unknown_id.jpg);"
        ></div>
        <a href="/elections/fyr/2021-2021/ari/"
          >{{- partial "button.html" (dict "label" "Read Platform") -}}</a
        >
      </div>
    </div>
    <div class="candidates candidates2" style="margin-top:3rem">
      <div class="candiate c2">
        <h2>Arda Ulas Ozdemir</h2>
        <i>No platform received.</i>
      </div>
      <div class="candiate c2">
        <h2>Rafique Ahmed Siddique</h2>
        <i>No platform received.</i>
      </div>
    </div>
    <div class="candidates-page-info">
      <div style="color:red; margin-top: 1rem">
        <i
          >** Candidates are ordered at random on page refresh to ensure no bias
          or advantage.</i
        >
      </div>
    </div>
  </div>
{{ end }}
