{{ define "main" }}
  {{- partial "navbar_temp.html" . -}}
  <div class="about-page page">
    <div class="home-section-grid home-section-light page-heading">
      <div class="home-section">
        <div class="page-section page-section-grid-priority">
          <div class="page-section-image page-section-grid-secondary"></div>
          <div class="page-section-content">
            <div class="page-header-title">COMMUNITY</div>
            <div class="page-section-text">Your Student Body.</div>
            <div class="page-section-body">
              The CCSS strives to be a transparent and accessible organization
              for all Carleton University computer science students and
              community members.
            </div>
            <a href="#content"
              >{{- partial "button.html" (dict "label" "Learn More") -}}</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
{{ end }}
