{{ define "main" }}
  {{- partial "navbar_temp.html" . -}}
  <script src="https://code.iconify.design/iconify-icon/1.0.0/iconify-icon.min.js"></script>
  <script type="text/javascript">
    function convertDateSingleDay(dateStr, time){
      const dateSplit = dateStr.split("T")[0].split("-")

      let startTimeHour = parseInt(time.split(" ")[0].split(":")[0])
      let endTimeHour = parseInt(time.split(" ")[2].split(":")[0])
      let startTimeMinute = parseInt(time.split(" ")[0].split(":")[1])
      let endTimeMinute = parseInt(time.split(" ")[2].split(":")[1])

      // times need to be convered to 24 hour, then need 4 hours added
      // to match UTC

      // event begins in the morning and ends in the afternoon/evening
      // only convert endtime to 24 hour time
      // e.g 11:00 AM - 3:00 PM
      if (startTimeHour > endTimeHour){
        endTimeHour += 16

      // event starts and ends in the afternoon/evening OR starts in the morning and ends at 12PM
      // convert both times to 24 hour time
      // e.g 1:00 - 3:00 PM
      // e.g 11:00 - 12:00 PM
      }else if ( {{ .Params.start_time }}.includes("PM") && endTimeHour < 12){
        startTimeHour += 16
        endTimeHour += 16
      }

      // Using Date.UTC because javascript likes to mess with daylight savings
      const startDate = new Date(Date.UTC(parseInt(dateSplit[0]), parseInt(dateSplit[1]) - 1, parseInt(dateSplit[2]), startTimeHour, startTimeMinute, 0))
      const endDate = new Date(Date.UTC(parseInt(dateSplit[0]), parseInt(dateSplit[1]) - 1, parseInt(dateSplit[2]), endTimeHour, endTimeMinute, 0))

      return [startDate, endDate]
    }

    function generateGCalLinkSingleDay(startDate, endDate){
      let gCalUrl = new URL("https://www.google.com/calendar/render?");
      let details = new URLSearchParams(gCalUrl.search)

      let startDateStr = `${startDate.getUTCFullYear()}${(startDate.getUTCMonth() + 1).toString().padStart(2, "0")}${startDate.getUTCDate().toString().padStart(2, "0")}T${startDate.getUTCHours().toString().padStart(2, "0")}${startDate.getUTCMinutes().toString().padStart(2, "0")}00Z/`
      let endDateStr = `${endDate.getUTCFullYear()}${(endDate.getUTCMonth() + 1).toString().padStart(2, "0")}${endDate.getUTCDate().toString().padStart(2, "0")}T${endDate.getUTCHours().toString().padStart(2, "0")}${endDate.getUTCMinutes().toString().padStart(2, "0")}00Z`
      let fullDateStr = startDateStr + endDateStr

      details.append("action", "TEMPLATE");
      details.append("text", {{ .Params.title }});
      details.append("details", {{ .Params.short_description }});
      details.append("location", {{ .Params.location }});
      details.append("dates", fullDateStr);

      return gCalUrl + details;
    }

    function generateOutlookLinkSingleDay(startDate, endDate){
      let outlookUrl = new URL("https://outlook.live.com/calendar/0/deeplink/compose?");
      let details = new URLSearchParams(outlookUrl.search)

      details.append("allday", "false");
      details.append("body", {{ .Params.short_description }});
      details.append("enddt", endDate.toISOString());
      details.append("location", {{ .Params.location }});
      details.append("path", "/calendar/action/compose");
      details.append("rru", "addevent");
      details.append("startdt", startDate.toISOString());
      details.append("subject", {{ .Params.title }});

      return outlookUrl + details;
    }

    function generateAppleICSFileSingleDay(startDate, endDate){
      let startDateStr = `${startDate.getUTCFullYear()}${(startDate.getUTCMonth() + 1).toString().padStart(2, "0")}${startDate.getUTCDate().toString().padStart(2, "0")}T${startDate.getUTCHours().toString().padStart(2, "0")}${startDate.getUTCMinutes().toString().padStart(2, "0")}Z`
      let endDateStr = `${endDate.getUTCFullYear()}${(endDate.getUTCMonth() + 1).toString().padStart(2, "0")}${endDate.getUTCDate().toString().padStart(2, "0")}T${endDate.getUTCHours().toString().padStart(2, "0")}${endDate.getUTCMinutes().toString().padStart(2, "0")}Z`
      
      let event = 
        "BEGIN:VCALENDAR\n" +
        "VERSION:2.0\n" +
        "PRODID:-//ccss.carleton.ca//EN\n" +
        "BEGIN:VEVENT\n" +
        "SEQUENCE:0\n" +
        "DTSTART:"+startDateStr+"\n" +
        "DTEND:"+endDateStr+"\n" +
        "SUMMARY:"+{{ .Params.title }}+"\n" +
        "LOCATION:"+{{ .Params.location }}+"\n" +
        "DESCRIPTION:"+{{ .Params.short_description }}+"\n" +
        "END:VEVENT\n" +
        "END:VCALENDAR\n"

      let file = new File([event], {type: "text/plain" })

      return window.URL.createObjectURL(file)
    }

    window.onload = function(){
      if {{ .Params.start_time }}.includes("PM") || {{ .Params.start_time }}.includes("AM"){
        let startDate, endDate;
        [startDate, endDate] = convertDateSingleDay({{ .Params.date }}, {{ .Params.start_time }})

        const gCalButton = document.getElementById("g-cal-button")
        gCalButton.href = generateGCalLinkSingleDay(startDate, endDate)

        const outlookButton = document.getElementById("outlook-button")
        outlookButton.href = generateOutlookLinkSingleDay(startDate, endDate)
      
        const appleButton = document.getElementById("apple-button")
        appleButton.href = generateAppleICSFileSingleDay(startDate, endDate)
        appleButton.download = {{ .Params.title }} + ".ics"
      }
    }

  </script>
  <div class="event-page">
    <!--Background-->
    {{- if ne .Params.hideBanner true }}
      <section
        class="event_header"
        style="background-image:url({{ absURL .Params.background }});"
      ></section>
      <section
        class="event_header event_blur"
        style="background-image:url({{ absURL .Params.background }});"
      ></section>
    {{- end }}

    <!-- Date card -->

    <!--Content-->
    <div class="{{ if .Params.full }}wrap post{{ else }}event{{ end }}">
      <div class="date_card_about">
        <h3 style="text-align: center;">
          {{ .Params.date.Format "Jan" | upper }}
        </h3>
        <h2 style="text-align: center;">{{ .Params.date.Format "2" }}</h2>
        <h3 style="text-align: center;">{{ .Params.date.Format "2006" }}</h3>
      </div>
      <div class="event_container">
        <div
          class="event_container_poster"
          style="background-image:url({{ absURL .Params.poster }}); background-size: {{ .Params.poster_cover }}; background-position: {{ .Params.poster_position }}"
        ></div>
        <div class="event_container_content">
          <div>
            <h2>{{ .Params.title }}</h2>
            <p>{{ .Params.short_description }}</p>
          </div>
          <div>
            <div class="event-subtitle">START TIME</div>
            <div class="event-time">{{ .Params.start_time }}</div>
          </div>
          <div>
            <div class="event-subtitle">LOCATION</div>
            <a href="{{ .Params.location_link }}"
              >{{- partial "button.html" (dict "label" .Params.location) -}}</a
            >
          </div>
          <div>
            <div class="event-subtitle">ADD TO CALENDAR</div>
            <div class="calendar-icons">
              <a id="g-cal-button" target="_blank"
                ><iconify-icon
                  class="hvr-float"
                  icon="akar-icons:google-fill"
                  style="color: #c40729;"
                  width="30"
                ></iconify-icon
              ></a>
              <a id="outlook-button" target="_blank"
                ><iconify-icon
                  id="outlook-button"
                  class="hvr-float"
                  icon="file-icons:microsoft-outlook"
                  style="color: #c40729;"
                  width="30"
                ></iconify-icon
              ></a>
              <a id="apple-button" target="_blank"
                ><iconify-icon
                  id="apple-button"
                  class="hvr-float"
                  icon="ant-design:apple-filled"
                  style="color: #c40729;"
                  width="30"
                ></iconify-icon
              ></a>
            </div>
          </div>
        </div>
      </div>
      {{ if ne (len .Content) 0 }}
        <hr />
        <div class="markdown-content">
          {{ .Content }}
        </div>
      {{ end }}
    </div>
  </div>
{{ end }}
