{{ define "main" }}
  {{- partial "navbar_temp.html" . -}}
  <div class="about-page page">
    <div class="home-section-grid home-section-dark">
      <div class="home-section">
        <div class="home-events">
          {{ $paginator := .Paginate (where .Site.RegularPages "Section" "events").ByDate.Reverse 12 }}
          {{ range $paginator.Pages }}
            <a class="event_card_link hvr-float" href="{{ .RelPermalink }}"
              >{{- partial "event_card.html" . -}}</a
            >
          {{ end }}
        </div>
      </div>
    </div>

    <div class="see-more">{{- partial "paginator.html" . -}}</div>
  </div>
{{ end }}
