{{ define "main" }}
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
  <div class="hack-the-tunnels">
    <div class="hack-the-tunnels-background-wrap">
      <lottie-player
        class="woa-background"
        src="/lottie/hack_the_tunnels.json"
        background="transparent"
        speed="1"
        loop
        autoplay
      ></lottie-player>
    </div>
    <div class="hack-the-tunnels-page">
      <div class="woa-header">
        <div>
          <img
            class="hack-the-tunnels__logo"
            src="/images/event_posters/2023-2024/hack_the_tunnels_logo.png"
          />
        </div>
        <div class="hack-the-tunnels__date">
          September 29th - September 30th
        </div>
        <div>
          <a href="https://forms.gle/MZKAUtWersoTscMx5"
            ><button class="header-button">Register</button></a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="woa-content">
    <div class="woa-description">
      <h1>What is Hack The Tunnels?</h1>
      <br />
      <img src="/images/event_posters/2023-2024/hack_the_tunnels_symbol.png" />
      <br />
      <br />
      <p class="hack-the-tunnels__heading">
        Hack The Tunnels is a <b>"Challenge"</b> based Hackathon.
      </p>
      <p class="hack-the-tunnels__text">
        Participants will work in teams to build various features for a mystery
        project. By completing these features, participants will learn various
        web development and software engineering concepts while earning points
        that will count towards winning prizes. Teams will hack with the
        languages, libraries, and frameworks of their choosing. However, a
        project template will also be provided.
      </p>
      <p class="hack-the-tunnels__text">
        The event will take place over two days. Day one will be decicated to
        teaching core concepts neccesary to complete challenges on day two. We
        recommend participants who have not taken <b>COMP 2406</b> attend Day
        one. Day two is the main event where participants will complete various
        challenges, attend workshops, and win prizes!
      </p>
      <div class="hack-the-tunnels__cards">
        <div class="hack-the-tunnels__card day1">
          <h1>DAY <span class="day1-number">1</span></h1>
          <h2>Fri, Sept 29th @ 6:00 PM - 9:00 PM</h2>
          <br />
          <p>Learn JavaScript</p>
          <p>Learn Client-Server Architecture</p>
          <p>Setup The Project Template</p>
          <br />
          <br />
          <i>Recommended if you have not taken <b>COMP 2406</b></i>
        </div>
        <div class="hack-the-tunnels__card day2">
          <h1>DAY <span class="day2-number">2</span></h1>
          <h2>Sat, Sept 30th @ 10:00 AM - 6:00 PM</h2>
          <br />
          <p>Attend Workshops</p>
          <p>Build the Mystery Project</p>
          <p>Win Prizes</p>
          <br />
          <br />
          <i>The Main Event</i>
        </div>
      </div>
      <!-- <div style="margin-top: 5rem"></div>
      <h1>Schedule</h1>
      <p>Coming Soon.</p> -->
      <div style="margin-top: 5rem"></div>
      <h1>Code of Conduct</h1>
      <p>
        This event will be following the
        <a class="hack-the-tunnels__link" href="https://hackcodeofconduct.org/"
          >Hack Code of Conduct</a
        >, please read it to be informed of what it is!
      </p>
      <div style="margin-top: 5rem"></div>
    </div>
  </div>
{{ end }}
