{{ define "main" }}
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
  <div class="hack-the-tunnels">
    <div class="hack-the-tunnels-background-wrap">
      <lottie-player
        class="woa-background"
        src="/lottie/hack_the_tunnels.json"
        background="transparent"
        speed="1"
        loop
        autoplay
      ></lottie-player>
    </div>
    <div class="hack-the-tunnels-page">
      <div class="woa-header">
        <div>
          <img
            class="hack-the-tunnels__logo"
            src="/images/event_posters/2023-2024/hack_the_tunnels_logo.png"
          />
        </div>
        <div class="hack-the-tunnels__date">
          September 29th - September 30th
        </div>
      </div>
    </div>
  </div>
  <div class="woa-content">
    <div class="woa-description">
      <a
        href="https://forms.gle/yPfcFd7TYSeya2h66"
        style="font-size:3rem ; color: aliceblue; font-weight: bolder;text-decoration: none;"
        >Register Here!</a
      >
      <!-- <div>
        <img class="woa-content-logo" src="https://i.imgur.com/IGjgFH8.png" />
      </div>
      <p style="font-size: 1.4rem">
        <i
          ><b
            >It's kinda like a computer science frosh ... but 100% free and
            organized completely by students!</b
          ></i
        >
      </p>
      <p style="font-size: 1.05rem">
        Established in 2014, Week of Awesome is an annual tradition organized by
        the Carleton Computer Science Society to welcome incoming and returning
        Computer science students to the upcoming academic year. Coming to Week
        of Awesome events is a great way to make new friends, learn something
        new, or find out how you get involved with Carleton's vibrant computer
        science community! Checkout our list of events below.
      </p>
    </div> -->
      <div style="padding-top:50rem"></div>
    </div>
  </div>
{{ end }}
