{{ define "main" }}
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
  <div class="hack-the-tunnels">
    <div class="hack-the-tunnels-background-wrap">
      <lottie-player
        class="woa-background"
        src="/lottie/hack_the_tunnels.json"
        background="transparent"
        speed="1"
        loop
        autoplay
      ></lottie-player>
    </div>
    <div class="hack-the-tunnels-page">
      <div class="woa-header">
        <div>
          <img
            class="hack-the-tunnels__logo"
            src="/images/event_posters/2023-2024/hack_the_tunnels_logo.png"
          />
        </div>
        <div class="hack-the-tunnels__date">
          September 29th - September 30th
        </div>
        <div>
          <a href="https://forms.gle/MZKAUtWersoTscMx5"
            ><button class="header-button">Register</button></a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="woa-content">
    <div class="woa-description">
      <h1>What is Hack The Tunnels?</h1>
      <br />
      <img src="/images/event_posters/2023-2024/hack_the_tunnels_symbol.png" />
      <br />
      <br />
      <p class="hack-the-tunnels__heading">
        Hack The Tunnels is a <b>"Challenge"</b> based Hackathon.
      </p>
      <p class="hack-the-tunnels__text">
        Participants will work in teams to build various features for a mystery
        project. By completing these features, participants will learn various
        web development and software engineering concepts while earning points
        that will count towards winning prizes. Teams will hack with the
        languages, libraries, and frameworks of their choosing. However, a
        project template will also be provided.
      </p>
      <p class="hack-the-tunnels__text">
        The event will take place over two days. Day one will be decicated to
        teaching core concepts neccesary to complete challenges on day two. We
        recommend participants who have not taken <b>COMP 2406</b> attend Day
        one. Day two is the main event where participants will complete various
        challenges, attend workshops, and win prizes!
      </p>
      <div class="hack-the-tunnels__cards">
        <div class="hack-the-tunnels__card day1">
          <h1>DAY <span class="day1-number">1</span></h1>
          <h2>Fri, Sept 29th @ 6:00 PM - 9:00 PM</h2>
          <br />
          <p>Learn JavaScript</p>
          <p>Learn Client-Server Architecture</p>
          <p>Setup The Project Template</p>
          <br />
          <br />
          <i>Recommended if you have not taken <b>COMP 2406</b></i>
        </div>
        <div class="hack-the-tunnels__card day2">
          <h1>DAY <span class="day2-number">2</span></h1>
          <h2>Sat, Sept 30th @ 10:00 AM - 6:00 PM</h2>
          <br />
          <p>Attend Workshops</p>
          <p>Build the Mystery Project</p>
          <p>Win Prizes</p>
          <br />
          <br />
          <i>The Main Event</i>
        </div>
      </div>
      <div style="margin-top: 5rem"></div>
      <h1>September 29th</h1>
      <div class="hack-the-tunnels__schedule">
        <div class="hack-the-tunnels__event" style="background-color: #34d3fa">
          <div class="hack-the-tunnels__event-title">Opening Ceremony</div>
          <div class="hack-the-tunnels__event-time">6:00 - 6:30 PM</div>
        </div>
        <div class="hack-the-tunnels__event" style="background-color: #c6006a">
          <div class="hack-the-tunnels__event-title">
            JavaScript Essentials: Building Your Web Foundation
          </div>
          <div class="hack-the-tunnels__event-time">6:30 - 7:00 PM</div>
        </div>
        <div class="hack-the-tunnels__event" style="background-color: #8c65fe">
          <div class="hack-the-tunnels__event-title">
            Mastering Web Development: Client, Server, and Database Presentation
          </div>
          <div class="hack-the-tunnels__event-time">7:00 - 7:30 PM</div>
        </div>
        <div class="hack-the-tunnels__event" style="background-color: #f9df02">
          <div class="hack-the-tunnels__event-title">
            Code and Connect: Hackathon Icebreaker
          </div>
          <div class="hack-the-tunnels__event-time">7:30 - 8:30 PM</div>
        </div>
        <div class="hack-the-tunnels__event" style="background-color: #34d3fa">
          <div class="hack-the-tunnels__event-title">
            Starter Project Deep Dive
          </div>
          <div class="hack-the-tunnels__event-time">8:30 - 9:00 PM</div>
        </div>
      </div>
      <div style="margin-top: 4rem"></div>
      <h1>September 30th</h1>
      <div class="hack-the-tunnels__schedule">
        <div class="hack-the-tunnels__event" style="background-color: #c6006a">
          <div class="hack-the-tunnels__event-title">Opening Ceremony</div>
          <div class="hack-the-tunnels__event-time">10:00 - 10:20 AM</div>
        </div>
        <div class="hack-the-tunnels__event" style="background-color: #8c65fe">
          <div class="hack-the-tunnels__event-title">How to Git Good</div>
          <div class="hack-the-tunnels__event-time">10:20 - 10:50 AM</div>
        </div>
        <div class="hack-the-tunnels__event" style="background-color: #f9df02">
          <div class="hack-the-tunnels__event-title">
            HTML, CSS, React, and Beyond
          </div>
          <div class="hack-the-tunnels__event-time">10:50 - 11:3 AM0</div>
        </div>
        <div class="hack-the-tunnels__event" style="background-color: #34d3fa">
          <div class="hack-the-tunnels__event-title">Lunch</div>
          <div class="hack-the-tunnels__event-time">11:45 - 1:00 PM</div>
        </div>
        <div class="hack-the-tunnels__event" style="background-color: #c6006a">
          <div class="hack-the-tunnels__event-title">
            Backend Is More Than Just APIs
          </div>
          <div class="hack-the-tunnels__event-time">1:00 - 2:00 PM</div>
        </div>
        <div class="hack-the-tunnels__event" style="background-color: #8c65fe">
          <div class="hack-the-tunnels__event-title">
            Introduction to Responsive Web Design
          </div>
          <div class="hack-the-tunnels__event-time">2:00 - 2:30 PM</div>
        </div>
        <div class="hack-the-tunnels__event" style="background-color: #f9df02">
          <div class="hack-the-tunnels__event-title">
            Unpacking Network Tunnels: A Deep Dive into Secure Connectivity
          </div>
          <div class="hack-the-tunnels__event-time">2:30 - 3:00 PM</div>
        </div>
        <div class="hack-the-tunnels__event" style="background-color: #34d3fa">
          <div class="hack-the-tunnels__event-title">
            Deploying Sites With Github Pages
          </div>
          <div class="hack-the-tunnels__event-time">5:20 - 5:35 PM</div>
        </div>
        <div class="hack-the-tunnels__event" style="background-color: #c6006a">
          <div class="hack-the-tunnels__event-title">
            Closing Ceremonies + Prizes
          </div>
          <div class="hack-the-tunnels__event-time">5:35 - 6:00 PM</div>
        </div>
      </div>
      <div style="margin-top: 5rem"></div>
      <h1>Code of Conduct</h1>
      <p>
        This event will be following the
        <a class="hack-the-tunnels__link" href="https://hackcodeofconduct.org/"
          >Hack Code of Conduct</a
        >, please read it to be informed of what it is!
      </p>
      <div style="margin-top: 5rem"></div>
    </div>
  </div>
{{ end }}
