{{ define "main" }}
  <div class="links-page">
    <div class="links-main">
      <div class="links-header">
        <img
          class="links-header-image"
          src="https://d1fdloi71mui9q.cloudfront.net/z6N6fyThSxDYhA0ElhGQ_aYJ140jIo0VRt84w"
          alt="The logo for the Carleton Computer Science Society"
        />
        <br />
        <div>@ccss</div>
        <br />
        <div>Carleton Computer Science Society</div>
        <br />
        <div>Email: info@ccss.carleton.ca</div>
        <div class="socials">
          <br />
          <a
            href="https://www.instagram.com/carletoncss/"
            target="_blank"
            class="fab fa-instagram"
          ></a>
          <a
            href="http://discord.carletoncomputersciencesociety.ca/"
            target="_blank"
            class="fab fa-discord"
          ></a>
          <a
            href="https://www.facebook.com/CarletonComputerScienceSociety"
            target="_blank"
            class="fab fa-facebook"
          ></a>
          <a
            href="https://twitter.com/carletoncss"
            target="_blank"
            class="fab fa-twitter"
          ></a>
        </div>
      </div>
      {{ range $.Site.Data.links }}
        {{ if and ((time .release_date).Before now) ((time .expiration_date).After now) }}
          {{ if not (isset . "sublinks") }}
            {{- partial "link.html" (dict "label" .label "link" .link ) -}}
          {{ else }}
            {{- partial "dropdown.html" (dict "label" .label "link" .link "sublinks" .sublinks ) -}}
          {{ end }}
        {{ end }}
      {{ end }}
    </div>
  </div>
{{ end }}
