{{ define "main" }}
  {{- partial "navbar_temp.html" . -}}
  <div class="about-page page">
    <div class="news-flex-wrapper">
      {{ $first_post := true }}
      {{ range first 7 (where .Site.RegularPages "Section" "news").ByDate.Reverse }}
        {{ if eq $first_post true }}
          {{ $first_post = false }}
          <a class="news-link" href="{{ .RelPermalink }}"
            >{{- partial "news_page_featured_article.html" . -}}</a
          >
          {{ else }}
          <a class="news-link" href="{{ .RelPermalink }}"
            >{{- partial "news_page_article.html" . -}}</a
          >
        {{ end }}
      {{ end }}
    </div>
    <div class="see-more"><a href="archive">See more...</a></div>
  </div>
{{ end }}
