{{ define "main" }}
  {{- partial "navbar_temp.html" . -}}

  <!--Header-->
  {{- if ne .Params.hideBanner true }}
    <section
      class="overlaypost_header"
      style="background-image:url({{ absURL .Params.background }});"
    ></section>
    <section
      class="overlaypost_header overlaypost_blur"
      style="background-image:url({{ absURL .Params.background }});"
    ></section>
  {{- end }}

  <!--Content-->
  <div class="{{ if .Params.full }}wrap post{{ else }}overlaypost{{ end }}">
    <article class="overlaypost_content markdown-content">
      <!--Temp-->
      <h1 style="font-size: 3rem">{{- .Params.title }}</h1>
      {{ if .Params.author }}
        <p class="post-author">Written By: {{ .Params.author }}</p>
      {{ end }}
      <p class="post-excerpt">{{ .Params.excerpt }}</p>
      <p class="post-date">{{ .Params.date.Format "January 2, 2006" }}</p>
      <div class="post-content">
        {{- .Content }}
      </div>
    </article>
  </div>
{{ end }}
