{{ define "main" }}
  {{- partial "navbar_temp.html" . -}}
  <div class="faq-topic__page">
    <div class="faq-topic__content">
      <div class="faq-topic__header">
        <div class="page-section">
          <div class="page-section-content page-section-grid-primary">
            <div class="page-section-text">{{ .Title }}</div>
            <div class="page-section-body">
              {{ .Description }}
            </div>
            <a href="#faqs-heading"
              >{{- partial "button.html" (dict "label" "View All FAQ") -}}</a
            >
          </div>
          <div
            class="page-section-image page-section-grid-secondary"
            style="background-image: url('{{ absURL .Params.header_image_url }}')"
          ></div>
        </div>
      </div>
      <h2 id="resources-heading">Resources</h2>
      <div class="faq-topic__articles">        
        {{ range .Params.articles }}
          {{ $page := printf "resources/articles/%s" . }}
          {{ with $.Site.GetPage $page }}
            <div class="faq-topic__article">
              <div class = "card_text">
                <h3>{{ .Title }}</h3>
                <p>{{ .Params.summary }}</p>
              </div>
              <a href="{{ .RelPermalink }}">
                {{- partial "button.html" (dict "label" "Read More") -}} 
              </a>
            </div>
          {{ end }}
        {{ end }}
      </div>
      <h2 id="faqs-heading">FAQs</h2>
      <div class="faq-topic__questions">
        {{ range .Params.faqs }}
          {{ $page := printf "resources/faqs/%s" . }}
          {{ with $.Site.GetPage $page }}
            <div class="faq-topic__question">
              <h3>{{ .Title }}</h3>
              <p>{{ .Params.summary }}</p>
              {{- partial "read-more.html" (dict "label" "Read More " "link" .RelPermalink) -}}
            </div>
          {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}
