{{ define "main" }}
  {{- partial "navbar_temp.html" . -}}
  <div class="about-page page">
    <div class="home-section-grid home-section-dark">
      <div class="home-section">
        <div class="page-section">
          <div class="page-section-image page-section-grid-secondary">
            <dotlottie-player src="https://lottie.host/760e8898-bc6c-4886-b679-8beea409245b/IowH6GnB3h.lottie" background="transparent" speed="1" style="width: 300px; height: 300px" loop autoplay></dotlottie-player>
          </div>
          <div class="page-section-content page-section-grid-primary">
            <div class="page-header-title">RESOURCES</div>
            <div class="page-section-text">Have any lingering questions?</div>
            <div class="page-section-body">
              This resources page contains info regarding relevant courses, student life, career paths and more!
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="resource-search-container">
    <input type="search" class="resource-search" name="q" id="search-query" placeholder="Search....">
    </div>
    <br>
    <div class="page-topic-container">
      {{ range $key, $value := .Params.topics }}
        {{- partial "link.html" (dict "label" .name "link" .link) -}}
      {{ end }}
    </div>

    <!-- 
      <h1>{{ .Params.custom_heading }}</h1>
      <p>{{ .Params.description }}</p>

      {{ if .Params.featured_image }}
        <img src="{{ .Params.featured_image }}" alt="Featured image">
      {{ end }}

      <article>
        {{ .Content }}
      </article>


    -->

    <!-- <div class="home-section-grid home-section-dark page-heading">
      <div class="home-section">
        <div class="page-section page-section-grid-priority">
          <div
            class="page-section-image page-section-grid-secondary"
            style='background-image: url("/images/general/volunteer_2.jpg")'
          ></div>
          <div class="page-section-content">
            <div class="page-header-title">VOLUNTEER</div>
            <div class="page-section-text">Make an Impact.</div>
            <div class="page-section-body">
              The Carleton Computer Science Society is creating a variety of CCR
              accredited volunteer oppurtunities.
            </div>
            <a href="https://forms.gle/v8JYvEF5a9wj7D6f8"
              >{{- partial "button.html" (dict "label" "Join Mailing List") -}}</a
            >
          </div>
        </div>
      </div>
    </div> -->
    <!--
    <div class="home-section-grid home-section-light">
      <div class="home-section">
        <div class="page-section page-section-grid-priority">
          <div class="page-section-content">
            <div class="page-header-title">SOCIAL</div>
            <div class="page-section-text">Social Committee</div>
            <div class="page-section-body">
              The Carleton Computer Science Society is a student led
              organization that represents all computer science students
              attending Carleton University.
            </div>
            <a href="/about/team"
              >{{- partial "button.html" (dict "label" "Learn More") -}}</a
            >
          </div>
          <div
            class="page-section-image page-section-grid-secondary"
            style='background-image: url("/images/boardgame.png")'
          ></div>
        </div>
      </div>
    </div>
    <div class="home-section-grid home-section-dark">
      <div class="home-section">
        <div class="page-section">
          <div
            class="page-section-image page-section-grid-secondary"
            style='background-image: url("/images/academics.png")'
          ></div>
          <div class="page-section-content page-section-grid-primary">
            <div class="page-header-title">ACADEMICS</div>
            <div class="page-section-text">Academics Group</div>
            <div class="page-section-body">
              The board of directors is a group of both elected and appointed
              individuals in charge of managing the organization.
            </div>
            <a href="/about/team"
              >{{- partial "button.html" (dict "label" "Learn More") -}}</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="home-section-grid home-section-light">
      <div class="home-section">
        <div class="page-section page-section-grid-priority">
          <div class="page-section-content">
            <div class="page-header-title">DEVELOPMENT</div>
            <div class="page-section-text">Development Group</div>
            <div class="page-section-body">
              The CCSS strives to be a transparent and accessible organization
              for all Carleton University computer science students and
              community members.
            </div>
            <a href="/about/team"
              >{{- partial "button.html" (dict "label" "Learn More") -}}</a
            >
          </div>
          <div class="page-section-image page-section-grid-secondary"></div>
        </div>
      </div>
    </div>
    -->
  </div>
  
{{ end }}
