<div class="link-anchor">
  <button class="accordion link">{{ .label }}</button>
  <div class="panel">
    {{ range .sublinks }}
      {{ if and ((time .release_date).Before now) ((time .expiration_date).After now) }}
        <div class="thread"></div>
        {{- partial "link.html" (dict "label" .label "link" .link) -}}
      {{ end }}
    {{ end }}
  </div>
</div>

<script>
  let acc = document.getElementsByClassName("accordion");
  var i;

  for (let i of acc) {
    i.addEventListener("click", () => {
      i.classList.toggle("active");
      let panel = i.nextElementSibling;
      if (panel.style.maxHeight) {
        panel.style.maxHeight = null;
      } else {
        panel.style.maxHeight = panel.scrollHeight + "px";
      }
    });
  }
</script>
