<div class="outer_event_card">
  <div class="date_card">
    <h3 style="text-align: center;">{{ .Params.date.Format "Jan" | upper }}</h3>
    <h2 style="text-align: center;">{{ .Params.date.Format "2" }}</h2>
    <h3 style="text-align: center;">{{ .Params.date.Format "2006" }}</h3>
  </div>
  <div class="event_card">
    <div
      class="upper_picture"
      style="background-image: url({{ absURL .Params.poster }}); "
    ></div>
    <div class="lower_info">
      <div class="time_text">{{ .Params.start_time }}</div>
      <div class="title_text">{{ .Params.display_title }}</div>
      <div class="truncated_text">
        {{ .Params.short_description }}
      </div>
      <div class="red_line"></div>
    </div>
  </div>
</div>
