<link rel="stylesheet" href="../../assets/scss/components/_event_card.scss" />
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet"> 
<!-- will be removed, just for testing -->


<!-- date time title description -->
<div class="outer_card">
  <div class="date_card">
    <h3 style="text-align: center;">JUN</h3>
    <h2 style="text-align: center;">11</h2>
    <h3 style="text-align: center;">2021</h3>
  </div>
  <div class="event_card">
    <div
      class="upper_picture"
      style="background-image: url(poster2.jpeg); "
    ></div>
    <div class="lower_info">
      <h5 class="time_text">7:00PM - 8:00PM</h5>
      <h2 class="title_text">very very long title yes?</h2>
      <div class="truncated_text">
        Consectetur pariatur est ut enim duis fugiat deserunt commodo marlingrer ewjf eowef
      </div>
    </div>
  </div>
</div>
