<div class="footer">© 2021 Carleton Computer Science Society</div>

<script
  src="https://code.jquery.com/jquery-1.9.1.min.js"
  integrity="sha256-wS9gmOZBqsqWxgIVgA8Y9WcQOa7PgSIX+rPA0VL2rbQ="
  crossorigin="anonymous"
></script>

<!--JS Bundle-->

{{- $mainScriptPath := "js/index.js" }}
{{- $main := resources.Get $mainScriptPath | resources.ExecuteAsTemplate $mainScriptPath . }}

{{- $navbarScriptPath := "js/navbar.js" }}
{{- $navbar := resources.Get $navbarScriptPath | resources.ExecuteAsTemplate $navbarScriptPath . }}

{{- $faqScriptPath := "js/faq.js" }}
{{- $faq := resources.Get $faqScriptPath | resources.ExecuteAsTemplate $faqScriptPath . }}

{{- $slideshowScriptPath := "js/slideshow.js" }}
{{- $slideshow := resources.Get $slideshowScriptPath | resources.ExecuteAsTemplate $slideshowScriptPath . }}

{{- $bundle := slice $main $navbar $faq $slideshow }}
{{- if site.Params.Staticman }}
  {{- $bundle = slice $main $navbar $faq $slideshow }}
{{- end }}
{{- $bundle =  $bundle | resources.Concat "js/bundle.js" | resources.Fingerprint "sha512" -}}

<script type="text/javascript" src="{{ $bundle.Permalink }}" integrity="{{ $bundle.Data.Integrity }}" crossorigin="anonymous"></script>
