<div class="footer">
  <h1>Carleton Computer Science Society</h1>
  <p>4135 HERZBERG LABORATORIES</p>
  <p>1125 COLONEL BY DRIVE,</p>
  <p>OTTAWA, ON K1S 5B6</p>
  <p>Email: info@ccss.carleton.ca</p>
</div>

<!--JS Bundle-->

{{- $mainScriptPath := "js/index.js" }}
{{- $main := resources.Get $mainScriptPath | resources.ExecuteAsTemplate $mainScriptPath . }}

{{- $navbarScriptPath := "js/navbar.js" }}
{{- $navbar := resources.Get $navbarScriptPath | resources.ExecuteAsTemplate $navbarScriptPath . }}

{{- $bundle := slice $main $navbar }}
{{- if site.Params.Staticman }}
  {{- $bundle = slice $main $navbar }}
{{- end }}
{{- $bundle =  $bundle | resources.Concat "js/bundle.js" | resources.Fingerprint "sha512" -}}

<script type="text/javascript" src="{{ $bundle.Permalink }}" integrity="{{ $bundle.Data.Integrity }}" crossorigin="anonymous"></script>

