<div class="footer">
  <div class="footer-text">
    <p>
      <b>Carleton Computer Science Society</b><br />
      4135 Herzberg Laboratories<br />
      1125 Colonel By Drive,<br />
      Ottawa, ON K1S 5B6<br /><br />
      email: <a href="mailto:info@ccss.carleton.ca">info@ccss.carleton.ca</a>
    </p>
  </div>
  <div class="footer-socials">
    <a href="http://discord.carletoncomputersciencesociety.ca"
      ><i class="fab fa-discord"></i
    ></a>
    <a href="https://www.instagram.com/carletoncss/"
      ><i class="fab fa-instagram"></i
    ></a>
    <a href="https://www.facebook.com/CarletonComputerScienceSociety"
      ><i class="fab fa-facebook"></i
    ></a>
    <a href="https://twitter.com/carletoncss"><i class="fab fa-twitter"></i></a>
    <a href="https://github.com/CarletonComputerScienceSociety"
      ><i class="fab fa-github"></i
    ></a>
  </div>
  <!--Added dynamic date updating with JavaScript-->
  <div class="footer-copyright">
    © {{ now.Year }} Carleton Computer Science Society
  </div>
</div>

<script
  src="https://code.jquery.com/jquery-1.9.1.min.js"
  integrity="sha256-wS9gmOZBqsqWxgIVgA8Y9WcQOa7PgSIX+rPA0VL2rbQ="
  crossorigin="anonymous"
></script>

<!--JS Bundle-->

{{- $mainScriptPath := "js/index.js" }}
{{- $main := resources.Get $mainScriptPath | resources.ExecuteAsTemplate $mainScriptPath . }}

{{- $navbarScriptPath := "js/navbar.js" }}
{{- $navbar := resources.Get $navbarScriptPath | resources.ExecuteAsTemplate $navbarScriptPath . }}

{{- $slideshowScriptPath := "js/slideshow.js" }}
{{- $slideshow := resources.Get $slideshowScriptPath | resources.ExecuteAsTemplate $slideshowScriptPath . }}

{{- $faqScriptPath := "js/faq.js" }}
{{- $faq := resources.Get $faqScriptPath | resources.ExecuteAsTemplate $faqScriptPath . }}

{{- $bundle := slice $main $navbar $slideshow $faq }}
{{- if site.Params.Staticman }}
  {{- $bundle = slice $main $navbar $slideshow $faq }}
{{- end }}
{{- $bundle =  $bundle | resources.Concat "js/bundle.js" | resources.Fingerprint "sha512" -}}

<script type="text/javascript" src="{{ $bundle.Permalink }}" integrity="{{ $bundle.Data.Integrity }}" crossorigin="anonymous"></script>
