<div class="home-header">
  <div class="home-header-space"></div>
  <div style="position: relative;">
    <div class="home-header-image" id="front" style="z-index: 1;"></div>
    <div class="home-header-image" id="back"></div>
  </div>
</div>
<div class="home-header-card-wrap">
  <div class="home-header-card">
    <div class="home-header-card-title">CARLETON COMPUTER SCIENCE SOCIETY</div>
    <div class="home-header-card-heading">Yeah Alright, But Also This.</div>
    <div class="home-header-card-body">
      In publishing and graphic design, Lorem ipsum is a placeholder text
      commonly used to demonstrate the visual form of a document or a typeface
      without relying on meaningful content.
    </div>
    <div class="home-header-buttons" style="display:flex">
      <a href="/ccss-website/about"
        >{{- partial "button.html" (dict "label" "Learn More") -}}</a
      >
      <div class="home-header-discord">
        Discord
        <div class="fa fa-external-link-alt home-header-discord-arrow"></div>
      </div>
    </div>
  </div>
</div>

<div class="home-header-mobile">
  <div class="home-header-image" id="front-mobile"></div>
  <div class="home-header-image" id="back-mobile"></div>
  <div class="home-header-card" style="z-index: 2;">
    <div class="home-header-card-title">CARLETON COMPUTER SCIENCE SOCIETY</div>
    <div class="home-header-card-heading">Yeah Alright, But Also This.</div>
    <div class="home-header-card-body">
      In publishing and graphic design, Lorem ipsum is a placeholder text
      commonly used to demonstrate the visual form of a document or a typeface
      without relying on meaningful content.
    </div>
    <div class="home-header-buttons" style="display:flex">
      {{- partial "button.html" (dict "label" "Learn More") -}}
      <div class="home-header-discord">
        Discord
        <div class="fa fa-external-link-alt home-header-discord-arrow"></div>
      </div>
    </div>
  </div>
</div>
