<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {{- $options := (dict "targetPath" "css/styles.css" "outputStyle" "compressed" "enableSourceMap" "true") -}}
  {{- $styles := resources.Get "scss/main.scss" | resources.ExecuteAsTemplate "main.scss" . | resources.ToCSS $options | resources.Fingerprint "sha512" }}
  <link
    rel="stylesheet"
    href="{{ $styles.Permalink }}"
    crossorigin="anonymous"
    integrity="{{ $styles.Data.Integrity }}"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous"
  />
  <script
    src="https://kit.fontawesome.com/83077f7eb5.js"
    crossorigin="anonymous"
  ></script>
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap"
    rel="stylesheet"
  />

  <link
    href="//db.onlinewebfonts.com/c/12dae16edcf385e3fcc78ecc87e3a45a?family=GenerisSansW01-Heavy"
    rel="stylesheet"
    type="text/css"
  />
  <link
    href="//db.onlinewebfonts.com/c/10e09daee0a60677b555581654b44612?family=Generis+Sans"
    rel="stylesheet"
    type="text/css"
  />
  <link
    href="//db.onlinewebfonts.com/c/d3ff12e8327c32ad79e2e1b003448c27?family=Generis+Sans"
    rel="stylesheet"
    type="text/css"
  />

  {{ $title := print .Site.Title " | " .Title }}
  {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
  <title>{{ $title }}</title>
</head>
