<div class="home-header">
  <div class="home-header-space"></div>
  <div style="position: relative;">
    <div class="home-header-image" id="front" style="z-index: 1;"></div>
    <div class="home-header-image" id="back"></div>
  </div>
</div>
<div class="home-header-card-wrap">
  <div class="home-header-card">
    <div class="home-header-card-title">CARLETON COMPUTER SCIENCE SOCIETY</div>
    <div class="home-header-card-heading">Your Student Community</div>
    <div class="home-header-card-body">
      The Carleton Computer Science Society, located in Herzberg 4135, proudly
      represents, advocates, and aims to create resources for all Carleton
      computer science students.
    </div>
    <div class="home-header-buttons" style="display:flex">
      <a href="/about"
        >{{- partial "button.html" (dict "label" "Learn More") -}}</a
      >
      <a
        style="text-decoration: none"
        href="http://discord.carletoncomputersciencesociety.ca"
      >
        <div class="home-header-discord">
          Discord
          <div
            class="fa fa-external-link-alt home-header-discord-arrow small-external-link-arrow"
          ></div>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="home-header-mobile">
  <div class="home-header-image" id="front-mobile"></div>
  <div class="home-header-image" id="back-mobile"></div>
  <div class="home-header-card" style="z-index: 2;">
    <div class="home-header-card-title">CARLETON COMPUTER SCIENCE SOCIETY</div>
    <div class="home-header-card-heading">Your Student Community</div>
    <div class="home-header-card-body">
      The Carleton Computer Science Society, located in Herzberg 4135, proudly
      represents, advocates, and aims to create resources for all Carleton
      computer science students.
    </div>
    <div class="home-header-buttons" style="display:flex">
      <a href="/about"
        >{{- partial "button.html" (dict "label" "Learn More") -}}</a
      >
      <a
        style="text-decoration: none"
        href="http://discord.carletoncomputersciencesociety.ca"
      >
        <div class="home-header-discord">
          Discord
          <div
            class="fa fa-external-link-alt home-header-discord-arrow small-external-link-arrow"
          ></div>
        </div>
      </a>
    </div>
  </div>
</div>
