<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {{- $options := (dict "targetPath" "css/styles.css" "outputStyle" "compressed" "enableSourceMap" "true") -}}
  {{- $styles := resources.Get "scss/main.scss" | resources.ExecuteAsTemplate "main.scss" . | resources.ToCSS $options | resources.Fingerprint "sha512" }}
  <link
    rel="stylesheet"
    href="{{ $styles.Permalink }}"
    crossorigin="anonymous"
    integrity="{{ $styles.Data.Integrity }}"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />

  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap"
    rel="stylesheet"
  />
  <link href="{{ absURL "/favicon.ico" }}" rel="icon"/ >

  <!-- seo -->

  {{ $title := print .Site.Title " | " .Title }}
  {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}

  <title>{{ $title }}</title>

  {{ $description := "The Carleton Computer Science Society is a student led organization that represents all computer science students attending Carleton University." }}
  {{ if eq .Params.layout "event" }}
    {{ $date := .Params.date.Format "January 2, 2006" }}
    {{ $description = printf "%s | %s | %s"  $date .Params.start_time .Params.short_description }}{{ end }}


  {{ if eq .Params.layout "annoucement" }}
    {{ $description = print .Params.excerpt }}{{ end }}


  {{ if eq .Params.layout "overlaypost" }}
    {{ $description = print .Params.excerpt }}{{ end }}


  <meta name="description" content="{{ $description }}" />

  {{ $url := "https://ccss.carleton.ca" }}

  {{ $image := "images/orientation2018-min.jpeg" }}
  {{ if eq .Params.layout "event" }}
    {{ $image = print .Params.poster }}{{ end }}


  {{ if eq .Params.layout "annoucement" }}
    {{ $image = print .Params.preview }}{{ end }}


  {{ if eq .Params.layout "overlaypost" }}
    {{ $image = print .Params.preview }}{{ end }}


  {{ if eq .Params.layout "hack_the_tunnels" }}
    {{ $image = print .Params.preview }}{{ end }}


  {{ if eq .Params.layout "jobuary" }}
    {{ $image = print .Params.preview }}{{ end }}


  {{ if eq .Params.layout "faq-topic" }}
    {{ $description = print .Params.description }}
    {{ $image = print .Params.header_image_url }}{{ end }}


  {{ if eq .Params.layout "faq-question" }}
    {{ $description = print .Params.summary }}{{ end }}


  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ $url }}" />
  <meta property="og:title" content="{{ $title }}" />
  <meta property="og:description" content="{{ $description }}" />
  <meta property="og:image" content="{{ $url }}/{{ $image }}" />

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content="{{ $url }}" />
  <meta property="twitter:title" content="{{ $title }}" />
  <meta property="twitter:description" content="{{ $description }}" />
  <meta property="twitter:image" content="{{ $url }}/{{ $image }}" />

  <!-- Cacheing -->
  <meta http-equiv="Cache-control" content="no-cache" />

  <!-- IOS logo -->
  <link rel="apple-touch-icon" href="images/ccss-logo-ios.png" />
</head>
