<div class="navbar-container">
  <div class="navbar-wrapper">
    <div class="navbar" id="primary_nav_wrap">
      <a href="{{ absURL "" }}" class="nav-brand nav_item">
        <img
          width="225px"
          height="26px"
          src="/ccss-website/images/ccss-logo.png"
          alt="The logo of the Carleton Computer Science Society"
        />
      </a>
      <ul class="navbar-items">
        <li>
          <a href="/ccss-website/about">ABOUT</a>
          <ul>
            <li><a href="/ccss-website/about/team">THE TEAM</a></li>
            <li><a href="/ccss-website/about/governance">GOVERNANCE</a></li>
          </ul>
        </li>
        <li>
          <a href="/ccss-website/events">EVENTS</a>
          <ul>
            <li><a href="/ccss-website/events/academics">ACADEMIC</a></li>
            <li><a href="/ccss-website/events/social">SOCIAL</a></li>
            <li><a href="/ccss-website/events/community">COMMUNITY</a></li>
            <li><a href="/ccss-website/events/society">SOCIETY</a></li>
          </ul>
        </li>
        <li>
          <a href="/ccss-website/news">NEWS</a>
        </li>
        <li>
          <a href="/ccss-website/community">COMMUNITY</a>
        </li>
        <li>
          <a href="/ccss-website/volunteer">VOLUNTEER</a>
        </li>
      </ul>
    </div>
  </div>
</div>
