<header class='nav'>
    <nav class = 'nav-menu'>
        <a href='{{ absURL "" }}' class = 'nav-brand nav_item'>
          <img src="https://cdn.discordapp.com/attachments/490220076163792896/835612220364292136/oktestuyi.png">
        </a>
        <div id="item1" class="item">About
            <div class="arrow">▲</div>
        </div>
        <ul id="actual_content1">
            <li class="item_block">
                <div class="left-item">The Team</div>
                <!-- <div class="right-pointer"></div> -->
            </li>
            <li class="item_block">
                <div class="left-item">Lounge & Services</div>
            </li>
            <li class="item_block">
                <div class="left-item">Governance</div>
            </li>
            <li class="item_block">
                <div class="left-item">Elections</div>
            </li>
        </ul>
        
    
        <div id="item2" class="item">Choice 2
            <div class="arrow">▲</div>
        </div>
        <ul id="actual_content2">
            <li class="item_block">
                <div class="left-item">Item 1</div>
            </li>
            <li class="item_block">
                <div class="left-item">Item 2</div>
            </li>
            <li class="item_block">
                <div class="left-item">Item 3</div>
            </li>
            <li class="item_block">
                <div class="left-item">Item 4</div>
            </li>
        </ul>

        <div id="item3" class="item">Choice 2
            <div class="arrow">▲</div>
        </div>
        <ul id="actual_content3">
            <li class="item_block">
                <div class="left-item">Item 1</div>
            </li>
            <li class="item_block">
                <div class="left-item">Item 2</div>
            </li>
            <li class="item_block">
                <div class="left-item">Item 3</div>
            </li>
            <li class="item_block">
                <div class="left-item">Item 4</div>
            </li>
        </ul>
        <div id="dormant_content"></div>
    </nav>
</header>
