<!--desktop navbar-->
<div class="navbar-container">
  <div class="navbar-wrapper">
    <div class="navbar" id="primary_nav_wrap">
      <a href="{{ absURL "" }}" class="nav-brand nav_item">
        <img
          src="/images/ccss-logo-2022.png"
          class="navbar-logo"
          alt="The logo of the Carleton Computer Science Society"
        />
      </a>
      <ul class="navbar-items">
        <li>
          <a href="/about">ABOUT</a>
          <ul>
            <li><a href="/about/team">THE TEAM</a></li>
            <li><a href="/about/governance">GOVERNANCE</a></li>
          </ul>
        </li>
        <li>
          <a href="/events">EVENTS</a>
          <ul>
            <li><a href="/jobuary">JOBUARY</a></li>
            <li><a href="/hackthetunnels">HACK THE TUNNELS</a></li>
            <li><a href="/events/weekofawesome">WEEK OF AWESOME</a></li>
          </ul>
          <!--
          <ul>
            <li><a href="/events/academics">ACADEMIC</a></li>
            <li><a href="/events/social">SOCIAL</a></li>
            <li><a href="/events/community">COMMUNITY</a></li>
            <li><a href="/events/society">SOCIETY</a></li>
          </ul>
          -->
        </li>
        <li>
          <a href="/news">NEWS</a>
        </li>
        <!--
        <li>
          <a href="/community">COMMUNITY</a>
        </li>
        -->
        <li>
          <a href="#">COMMUNITY</a>
          <ul>
            <li>
              <a href="https://carletoncss.myshopify.com/collections/all"
                >STORE</a
              >
            </li>
            <li><a href="/blog">BLOG</a></li>
            <li><a href="/community/organizations">ORGANIZATIONS</a></li>
          </ul>
        </li>
        <li>
          <a href="/volunteer">VOLUNTEER</a>
        </li>

        <li>
          <a href="https://resources.carletoncomputerscience.ca/">RESOURCES</a>
        </li>
      </ul>
      <div class="mobile-hamburger"><i class="fas fa-bars"></i></div>
    </div>
  </div>
</div>

<!--mobile navbar-->
<header class="header">
  <a href="{{ absURL "" }}" class="nav-brand nav_item">
    <img
      width="180px"
      src="/images/ccss-logo-2022.png"
      alt="The logo of the Carleton Computer Science Society"
    />
  </a>
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  <ul class="menu">
    <li><a href="/about">ABOUT</a></li>
    <li><a href="/events">EVENTS</a></li>
    <!-- <li><a href="/events/weekofawesome">WEEK OF AWESOME</a></li> -->
    <li><a href="/jobuary">JOBUARY</a></li>
    <li>
      <a href="https://carletoncss.myshopify.com/collections/all">SHOP</a>
    </li>
    <li><a href="/news">NEWS</a></li>
    <li><a href="/blog">BLOG</a></li>
    <li><a href="/volunteer">VOLUNTEER</a></li>
    <li>
      <a href="https://resources.carletoncomputerscience.ca/">RESOURCES</a>
    </li>
  </ul>
</header>
