<div class="navbar-container">
  <div class="navbar-wrapper">
    <div class="navbar">
      <a href="{{ absURL "" }}" class="nav-brand nav_item">
        <img
          width="225px"
          src="https://cdn.discordapp.com/attachments/490220076163792896/835612220364292136/oktestuyi.png"
        />
      </a>
      <div class="navbar-items">
        <div class="navbar-item">
          <a href="/ccss-website/about"><div>ABOUT</div></a>
        </div>
        <div class="navbar-item">
          <a href="/ccss-website/events"><div>EVENTS</div></a>
        </div>
        <div class="navbar-item">
          <a href="/ccss-website/news"><div>NEWS</div></a>
        </div>
        <div class="navbar-item">
          <a href="/ccss-website/community"><div>COMMUNITY</div></a>
        </div>
        <div class="navbar-item">
          <a href="/ccss-website/volunteer"><div>VOLUNTEER</div></a>
        </div>
      </div>
    </div>
  </div>
</div>
