<header class="nav">
  <nav class="nav-menu">
    <!--initial nav bar elements-->
    <div class="nav-menu-items">
      <a href="{{ absURL "" }}" class="nav-brand nav_item">
        <img
          src="images/ccss-logo.png"
          alt="The logo of the Carleton Computer Science Society"
        />
      </a>
      <div class="nav-menu-items-container">
        {{ $index := 1 }}
        {{ range $.Site.Data.routes }}
          <div class="nav-menu-item">
            <div
              id="item{{ $index }}"
              class="item"
              onmouseover="showContent('actual_content{{ $index }}', 'item_block{{ $index }}', 'left_item{{ $index }}', 'right_image{{ $index }}')"
              onmouseout="hideContent('actual_content{{ $index }}', 'item_block{{ $index }}', 'left_item{{ $index }}', 'right_image{{ $index }}')"
            >
              {{ .title }}
            </div>
            <div class="arrow">▲</div>
          </div>
          {{ $index = add $index 1 }}
        {{ end }}
      </div>
    </div>

    <!--navbar drop down menus-->
    <div class="nav-menu-dropdowns">
      {{ $index := 1 }}
      {{ range $.Site.Data.routes }}
        <div
          id="actual_content{{ $index }}"
          class="actual_content"
          onmouseover="keepContent('actual_content{{ $index }}', 'item_block{{ $index }}', 'left_item{{ $index }}', 'right_image{{ $index }}')"
          onmouseout="hideContent('actual_content{{ $index }}', 'item_block{{ $index }}', 'left_item{{ $index }}', 'right_image{{ $index }}')"
        >
          {{ if eq .layout  "cards" }}
            {{ $index2 := 1 }}
            {{ range .sublinks }}
              <div class="item_block_container">
                <a href="{{ absURL .url }}" style="text-decoration: none;">
                  <div class="item_block{{ $index }}">
                    <div class="left_item{{ $index }}">{{ .title }}</div>
                    <div
                      class="right_image{{ $index }}"
                      style="background-image: url( {{ absURL .image }} );"
                    ></div>
                  </div>
                </a>
              </div>
              {{ if ne $index2 4 }}
                <div class="long_arrow"></div>
              {{ end }}
              {{ $index2 = add $index2 1 }}
            {{ end }}
            {{ else if eq .layout "text" }}
            <div class="text_box_container">
              {{ range .sublinks }}
                <a href="{{ absURL .url }}">{{ .title }}</a>
              {{ end }}
            </div>
          {{ end }}
        </div>
        {{ $index = add $index 1 }}
      {{ end }}
    </div>
  </nav>
</header>
