<link rel="stylesheet" href="../../assets/scss/components/_news_page_article.scss">

<div class="outer_news_page_article_card">
    <div class="news_page_article_picture"></div>
    <div class="article_info">
        <div class="article_date">June 11th 2002</div>
        <div class="article_title">A really cool title</div>
        <div class="article_excerpt">Sit officia sint officia Lorem. Occaecat adipisicing veniam adipisicing laborum eiusmod occaecat commodo adipisicing. Dolor in nisi enim excepteur cillum fugiat. Irure exercitation occaecat ex excepteur sunt consectetur. Duis ad adipisicing magna incididunt nostrud. Nisi duis anim eu veniam id sint adipisicing eiusmod cillum occaecat cillum nostrud dolor pariatur. Fugiat id nostrud sit sit aliqua ullamco cupidatat nulla voluptate.</div>
    </div>
</div>