<link
  rel="stylesheet"
  href="../../assets/scss/components/_news_page_article.scss"
/>

<div class="outer_news_page_featured_article_card">
  <div
    class="news_page_featured_article_picture"
    style="background-image: url({{ absURL .Params.background }});"
  ></div>
  <div class="featured_article_info">
    <div class="featured_article_date">
      {{ .Params.date.Format "Monday, Jan 2, 2006" }}
    </div>
    <div class="featured_article_title">{{ .Params.title }}</div>
    <div class="featured_article_excerpt">
      Adipisicing et magna eiusmod fugiat aliquip pariatur id incididunt.
      Aliquip est anim sit ea. Aliqua laborum veniam reprehenderit in officia
      culpa sint adipisicing esse qui aliquip ex. Nisi sunt sunt cillum
      excepteur eiusmod velit aute deserunt commodo aliquip enim.Irure pariatur
      veniam minim officia aliqua reprehenderit culpa. Labore minim pariatur
      nisi adipisicing ad. Sint cupidatat exercitation proident officia ullamco
      amet fugiat tempor do reprehenderit. Do elit consequat dolore amet veniam
      ea non magna non. Dolor elit sunt ullamco do incididunt. Duis proident
      Lorem consectetur laborum consectetur officia dolore.
    </div>
  </div>
</div>
