<link
  rel="stylesheet"
  href="../../assets/scss/components/_news_page_article.scss"
/>

<div class="outer_news_page_article_card">
  <div
    class="news_page_article_picture"
    style="background-image: url({{ absURL .Params.background }});"
  ></div>
  <div class="article_info">
    <div class="article_date">
      {{ .Params.date.Format "Monday, Jan 2, 2006" }}
    </div>
    <div class="article_title">{{ .Params.title }}</div>
    <div class="article_excerpt">
      {{ .Params.excerpt }}
    </div>
  </div>
</div>
