<link
  rel="stylesheet"
  href="../../assets/scss/components/_organization_card.scss"
/>

<link rel="stylesheet" href="../../assets/scss/components/_event_card.scss" />

<link
  href="//db.onlinewebfonts.com/c/12dae16edcf385e3fcc78ecc87e3a45a?family=GenerisSansW01-Heavy"
  rel="stylesheet"
  type="text/css"
/>
<link
  href="//db.onlinewebfonts.com/c/10e09daee0a60677b555581654b44612?family=Generis+Sans"
  rel="stylesheet"
  type="text/css"
/>
<link
  href="//db.onlinewebfonts.com/c/d3ff12e8327c32ad79e2e1b003448c27?family=Generis+Sans"
  rel="stylesheet"
  type="text/css"
/>

<script
  src="https://kit.fontawesome.com/83077f7eb5.js"
  crossorigin="anonymous"
></script>

<div class="outer_organization_card">
  <div class="organization_card">
    <div
      class="upper_organization_picture"
      style="background-image: url('goodcuHacking.png');"
    ></div>
    <div class="lower_organization_info">
      <!-- Link to organization website in name -->
      <div class="organization_name_text">
        Organization name <i class="fas fa-link"></i>
      </div>
      <div class="organization_description_text">
        We strive to give students the means to enhance their technical skills,
        make new friends, and create genuine connections with industry
        professionals so they can propel themselves to new heights.
      </div>
      <div class="organization_links">
        <i class="fab fa-discord"></i>
        <i class="fab fa-github-square"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-twitter-square"></i>
        <i class="fab fa-linkedin"></i>
        <i class="fab fa-slack"></i>
        <i class="fab fa-facebook-square"></i>
      </div>
      <div class="red_line"></div>
    </div>
    
  </div>
</div>
