<div class="page-header">
  <div class="page-header-image"></div>
  <div class="page-header-content">
    <div class="page-header-title">ABOUT US</div>
    <div class="page-header-text">Your Student Body.</div>
    <div class="page-header-body">
      The Carleton Computer Science Society is a student led organization that
      represents all computer science students attending Carleton University.
    </div>
  </div>
</div>
<div class="page-header">
  <div
    class="page-header-image"
    style='background-image: url("/ccss-website/images/volunteer.png")'
  ></div>
  <div class="page-header-content">
    <div class="page-header-title">VOLUNTEER</div>
    <div class="page-header-text">
      Kickstart your career. Grow your skills. Make an impact.
    </div>
  </div>
</div>
<div class="page-header">
  <div
    class="page-header-image"
    style='background-image: url("/ccss-website/images/academics.png")'
  ></div>
  <div class="page-header-content">
    <div class="page-header-title">ACADEMICS</div>
    <div class="page-header-text">
      Kickstart your career. Grow your skills. Make an impact.
    </div>
  </div>
</div>
<div class="page-header">
  <div
    class="page-header-image"
    style='background-image: url("/ccss-website/images/workshops.png")'
  ></div>
  <div class="page-header-content">
    <div class="page-header-title">RESOURCES</div>
    <div class="page-header-text">
      Kickstart your career. Grow your skills. Make an impact.
    </div>
  </div>
</div>
<div class="page-header">
  <div
    class="page-header-image"
    style='background-image: url("/ccss-website/images/governance.jpeg")'
  ></div>
  <div class="page-header-content">
    <div class="page-header-title">GOVERNANCE</div>
    <div class="page-header-text">
      Kickstart your career. Grow your skills. Make an impact.
    </div>
  </div>
</div>
<div class="page-header">
  <div
    class="page-header-image"
    style='background-image: url("/ccss-website/images/events.png")'
  ></div>
  <div class="page-header-content">
    <div class="page-header-title">EVENTS</div>
    <div class="page-header-text">
      Kickstart your career. Grow your skills. Make an impact.
    </div>
  </div>
</div>
