<link rel="stylesheet" href="../../assets/scss/components/_team_card.scss">

<div class="team-member">
    <div class="team-img">
        <img class="img-responsive" src="rick.jpg">
    </div>
    <div class="team-hover">
        <div class="desk">
            <h4>Hi there!</h4>
            <p>Enim ullamco sint ipsum excepteur. Minim et excepteur excepteur reprehenderit.</p>
        </div>
    </div>
    <div class="team-title">
        <h5>Rick astely</h5>
        <span>President <span> emaillololol</span></span>
    </div>
</div>