{{ define "main" }}
  {{- partial "navbar_temp.html" . -}}
  <script>
    setTimeout(function () {
      window.location.href =
        "https://ccss.carleton.ca";
    }, 3000);
  </script>
  <div class="not-found-page">
    <h1>404</h1>
    <h2 id="title">
      You have reached a page which does not exist. It may have been deleted, or has never existed.
    </h2>
    <h2>
      You will be momentarily redirected back to the home page.
    </h2>
    <h2>Sorry for the inconvenience.</h2>
  </div>
{{ end }}
