{{ define "main" }}
  {{- partial "navbar_temp.html" . -}}
  <script>
    setTimeout(function () {
      window.location.href =
        "https://carletoncomputersciencesociety.github.io" +
        window.location.pathname;
    }, 3000);
  </script>
  <div class="not-found-page">
    <h1>404</h1>
    <h2 id="title">
      We are currently in the process of migrating to our new website!
    </h2>
    <h2>
      You are likely looking for a page from our legacy site and will
      momentarily be redirected.
    </h2>
    <h2>Sorry for the inconvenience.</h2>
  </div>
{{ end }}
