{{ define "main" }}
  {{- partial "navbar_temp.html" . -}}
  <!--
  <div class="home-annoucement">
    <a
      href="https://carletoncss.myshopify.com/products/new-ccss-fleece-hoodie-1"
      ><i class="fas fa-shopping-cart"></i>
      <span>Checkout our new 2021 - 2022 Hoodie!</span></a
    >
  </div>
  -->
  {{- partial "header.html" . -}}
  <div class="home-section-grid home-section-red">
    <div class="home-section-notice">
      <p style="color: white">
        <i class="fas fa-info-circle"></i>The CCSS lounge and all in-person
        services are available at Herzberg Laboratories in room 4135, near the
        Teaching Assistant (TA) Center!
      </p>
    </div>
  </div>
  <div class="home-section-grid home-section-dark">
    <div class="home-section">
      <h1 class="home-section-heading">
        <span>
          <a href="/news">
            Spotlight
            <i class="fa fa-external-link-alt home-header-discord-arrow"></i></a
        ></span>
      </h1>
      <div class="home-news">
        <div class="home-news-articles">
          {{ range first 4 (where (where .Site.RegularPages "Section" "news") ".Params.featured" false).ByDate.Reverse }}
            <a class="article-link" href="{{ .RelPermalink }}"
              >{{- partial "article.html" . -}}</a
            >
          {{ end }}
        </div>
        <div class="home-news-featured">
          {{ range first 1 (where (where .Site.RegularPages "Section" "news") ".Params.featured" true).ByDate.Reverse }}
            <a class="article-link" href="{{ .RelPermalink }}"
              >{{- partial "featured-article.html" . -}}</a
            >
          {{ end }}
        </div>
      </div>
    </div>
  </div>
  <div class="home-section-grid home-section-dark">
    <div class="home-section">
      <h1 class="home-section-heading">
        <span>
          <a href="/events"
            >Featured Events
            <i class="fa fa-external-link-alt home-header-discord-arrow"></i></a
        ></span>
      </h1>
      <div class="home-events">
        {{ range first 4 (where .Site.RegularPages "Section" "events" ).ByDate.Reverse }}
          <a class="event_card_link hvr-float" href="{{ .RelPermalink }}"
            >{{- partial "event_card.html" . -}}</a
          >
        {{ end }}
      </div>
    </div>
  </div>
  <div class="home-section-grid home-section-dark">
    <div class="home-section">
      <h1 class="home-section-heading">
        <span>
          <a href="#comingsoon">
            Initiatives
            <i class="fa fa-external-link-alt home-header-discord-arrow"></i></a
        ></span>
      </h1>
      <div class="home-news">
        <div class="home-news-articles">
          {{ range last 3 $.Site.Data.initiatives }}
            <a class="article-link" href="{{ .link }}"
              >{{- partial "initiative.html" . -}}</a
            >
          {{ end }}
        </div>
        <div class="home-news-featured">
          {{ range first 1 (where (where .Site.RegularPages "Section" "blog") ".Params.featured" true).ByDate.Reverse }}
            <a class="article-link" href="{{ .RelPermalink }}"
              >{{- partial "featured-blog-post.html" . -}}</a
            >
          {{ end }}
        </div>
      </div>
    </div>
  </div>
  <div style="margin-bottom: 3rem"></div>
  <div class="home-section-grid home-section-light">
    <div class="home-section">
      <h1>Frequently Asked Questions</h1>
      {{- partial "faq.html" . -}}
    </div>
  </div>
{{ end }}
