{{ define "main" }}
  {{- partial "navbar_temp.html" . -}}
  {{- partial "header.html" . -}}
  <div class="home-section-grid home-section-red">
    <div class="home-section-notice">
      <p style="color: white">
        <i class="fas fa-info-circle"></i>In light of recent developments due to
        the spread of COVID-19, the CCSS lounge & all in-person services will be
        put on hold until further notice.
      </p>
    </div>
  </div>
  <div class="home-section-grid home-section-dark">
    <div class="home-section">
      <h1 class="home-section-heading">
        <span>
          <a href="/ccss-website/news">
            Spotlight
            <i class="fa fa-external-link-alt home-header-discord-arrow"></i></a
        ></span>
      </h1>
      <div class="home-news">
        <div class="home-news-articles">
          {{ range first 4 (where .Site.RegularPages "Section" "news").ByDate.Reverse }}
            <a class="article-link" href="{{ .RelPermalink }}"
              >{{- partial "article.html" . -}}</a
            >
          {{ end }}
        </div>
        <div class="home-news-featured">
          {{- partial "featured-article.html" . -}}
        </div>
      </div>
    </div>
  </div>
  <div class="home-section-grid home-section-dark">
    <div class="home-section">
      <h1 class="home-section-heading">
        <span>
          <a href="/ccss-website/events"
            >Featured Events
            <i class="fa fa-external-link-alt home-header-discord-arrow"></i></a
        ></span>
      </h1>
      <div class="home-events">
        {{ range first 4 (where .Site.RegularPages "Section" "events").ByDate.Reverse }}
          <a class="event_card_link hvr-float" href="{{ .RelPermalink }}"
            >{{- partial "event_card.html" . -}}</a
          >
        {{ end }}
      </div>
    </div>
  </div>
  <div class="home-section-grid home-section-light">
    <div class="home-section">
      <h1>Frequently Asked Questions</h1>
      {{- partial "faq.html" . -}}
    </div>
  </div>
{{ end }}
